/**
 * Layouts - Justify Styles
 */

/* Imports */

@use "../../utils/fix/fix";
@use "../../utils/breakpoint/breakpoint";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");
$justify-fix: fix.get-class-fix("justify");

/* Styles */

.#{$layout-fix}#{$justify-fix}-between {
  justify-content: space-between;
}

.#{$layout-fix}#{$justify-fix}-center {
  justify-content: center;
}

.#{$layout-fix}#{$justify-fix}-start {
  justify-content: flex-start;
}

.#{$layout-fix}#{$justify-fix}-end {
  justify-content: flex-end;
}
