
@use "sass:math";

/*
 * Strip unit from number
 * ----------------------
 *
 * source: https://css-tricks.com/snippets/css/fluid-typography
 *
 * @param [number] $number
 * @return [number]
 */

@function stripUnit( $number ) {
  $n: "#{$number}";
  $oneUnit: 1px;
  
  @if( str-index( $n, 'em' ) ) {
  	$oneUnit: 1em;
  }
  
  @if( str-index( $n, 'rem' ) ) {
  	$oneUnit: 1rem;
  }
  
  @return math.div( $number, $oneUnit );
}
