
/*
 * Table
 * -----
 */

/* Dependencies */

@use '../../config' as frm;

#{ frm.$tableSelector } {
	@extend %u-width-100;
  border-collapse: collapse;
  border-spacing: 0;

  td[data-label]::before {
		content: attr( data-label );
		@extend %u-display-none;
		@extend %u-float-left;
  }

	&[data-collapse="true"] {
		thead {
			@extend %u-visually-hidden;
		}

		td {
			@extend %u-display-flex;
		}

		tr,
		td[data-label]::before {
			@extend %u-display-block;
		}
	}
}
