/**
 * Objects - Table Styles
 */

/* Imports */

@use "../../utils/fix/fix";

/* Class name customization */

$object-fix: fix.get-class-prefix("object");

/* Styles */

[data-table-overflow="false"] .#{$object-fix}table-hide,
[data-table-overflow="true"] .#{$object-fix}table-show {
  display: none;
}
