/**
 * Objects - Lazy Load Styles
 */

/* Imports */

@use "../../config/config" as con;

/* Styles */

.o-lazy {
  --#{con.$v}duration: 200ms;
  --opacity: 0;

  opacity: var(--opacity);

  &[data-loaded="true"],
  &[data-loaded="error"] {
    --opacity: 1;
  }
}
