/**
 * Layouts - Padding Styles
 */

/* Imports */

@use "sass:list";
@use "sass:string";
@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "../../utils/breakpoint/breakpoint";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");
$padding-fix: fix.get-class-fix("padding");
$padding-top-fix: fix.get-class-fix("padding-top");
$padding-bottom-fix: fix.get-class-fix("padding-bottom");
$padding-y-fix: fix.get-class-fix("padding-y");
$padding-left-fix: fix.get-class-fix("padding-left");
$padding-right-fix: fix.get-class-fix("padding-right");
$padding-x-fix: fix.get-class-fix("padding-x");

/* Defaults */

.#{$layout-fix}#{$padding-fix}-0 {
  padding: 0;
}

/* Vertical padding */

@each $p in con.$padding-top {
  $selector: ".#{$layout-fix}#{$padding-top-fix}-#{$p}";

  @if con.$xy {
    $selector: "#{$selector}, .#{$layout-fix}#{$padding-y-fix}-#{$p}";
  }

  #{string.quote($selector)} {
    padding-top: var(--#{con.$n}#{$p});
  }
}

@each $p in con.$padding-bottom {
  $selector: ".#{$layout-fix}#{$padding-bottom-fix}-#{$p}";

  @if con.$xy {
    $selector: "#{$selector}, .#{$layout-fix}#{$padding-y-fix}-#{$p}";
  }

  #{string.quote($selector)} {
    padding-bottom: var(--#{con.$n}#{$p});
  }
}

@each $b in con.$padding-vertical-breakpoints {
  @each $p in con.$padding-top {
    $selector: ".#{$layout-fix}#{$padding-top-fix}-#{$p}-#{$b}";

    @if con.$xy {
      $selector: "#{$selector}, .#{$layout-fix}#{$padding-y-fix}-#{$p}-#{$b}";
    }

    #{string.quote($selector)} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-top: var(--#{con.$n}#{$p})
      ));
    }
  }

  @each $p in con.$padding-bottom {
    $selector: ".#{$layout-fix}#{$padding-bottom-fix}-#{$p}-#{$b}";

    @if con.$xy {
      $selector: "#{$selector}, .#{$layout-fix}#{$padding-y-fix}-#{$p}-#{$b}";
    }

    #{string.quote($selector)} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-bottom: var(--#{con.$n}#{$p})
      ));
    }
  }
}

/* Horizontal padding */

@each $p in con.$padding-left {
  $selector: ".#{$layout-fix}#{$padding-left-fix}-#{$p}";

  @if con.$xy {
    $selector: "#{$selector}, .#{$layout-fix}#{$padding-x-fix}-#{$p}";
  }

  #{string.quote($selector)} {
    padding-left: var(--#{con.$n}#{$p});
  }
}

@each $p in con.$padding-right {
  $selector: ".#{$layout-fix}#{$padding-right-fix}-#{$p}";

  @if con.$xy {
    $selector: "#{$selector}, .#{$layout-fix}#{$padding-x-fix}-#{$p}";
  }

  #{string.quote($selector)} {
    padding-right: var(--#{con.$n}#{$p});
  }
}

@each $b in con.$padding-horizontal-breakpoints {
  @each $p in con.$padding-left {
    $selector: ".#{$layout-fix}#{$padding-left-fix}-#{$p}-#{$b}";

    @if con.$xy {
      $selector: "#{$selector}, .#{$layout-fix}#{$padding-x-fix}-#{$p}-#{$b}";
    }

    #{string.quote($selector)} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-left: var(--#{con.$n}#{$p})
      ));
    }
  }

  @each $p in con.$padding-right {
    $selector: ".#{$layout-fix}#{$padding-right-fix}-#{$p}-#{$b}";

    @if con.$xy {
      $selector: "#{$selector}, .#{$layout-fix}#{$padding-x-fix}-#{$p}-#{$b}";
    }

    #{string.quote($selector)} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-right: var(--#{con.$n}#{$p})
      ));
    }
  }
}
