/**
 * Layouts - Padding Styles
 */

/* Imports */

@use "sass:list";
@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "../../utils/breakpoint/breakpoint";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");
$padding-fix: fix.get-class-fix("padding");
$padding-top-fix: fix.get-class-fix("padding-top");
$padding-bottom-fix: fix.get-class-fix("padding-bottom");
$padding-y-fix: fix.get-class-fix("padding-y");
$padding-left-fix: fix.get-class-fix("padding-left");
$padding-right-fix: fix.get-class-fix("padding-right");
$padding-x-fix: fix.get-class-fix("padding-x");

/* Defaults */

.#{$layout-fix}#{$padding-fix}-0 {
  padding: 0;
}

/* Vertical padding */

@each $p in con.$padding-top {
  .#{$layout-fix}#{$padding-top-fix}-#{$p},
  .#{$layout-fix}#{$padding-y-fix}-#{$p} {
    padding-top: var(--#{con.$n}#{$p});
  }
}

@each $p in con.$padding-bottom {
  .#{$layout-fix}#{$padding-bottom-fix}-#{$p},
  .#{$layout-fix}#{$padding-y-fix}-#{$p} {
    padding-bottom: var(--#{con.$n}#{$p});
  }
}

@each $b in con.$padding-vertical-breakpoints {
  @each $p in con.$padding-top {
    .#{$layout-fix}#{$padding-top-fix}-#{$p}-#{$b},
    .#{$layout-fix}#{$padding-y-fix}-#{$p}-#{$b} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-top: var(--#{con.$n}#{$p})
      ));
    }
  }

  @each $p in con.$padding-bottom {
    .#{$layout-fix}#{$padding-bottom-fix}-#{$p}-#{$b},
    .#{$layout-fix}#{$padding-y-fix}-#{$p}-#{$b} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-bottom: var(--#{con.$n}#{$p})
      ));
    }
  }
}

/* Horizontal padding */

@each $p in con.$padding-left {
  .#{$layout-fix}#{$padding-left-fix}-#{$p},
  .#{$layout-fix}#{$padding-x-fix}-#{$p} {
    padding-left: var(--#{con.$n}#{$p});
  }
}

@each $p in con.$padding-right {
  .#{$layout-fix}#{$padding-right-fix}-#{$p},
  .#{$layout-fix}#{$padding-x-fix}-#{$p} {
    padding-right: var(--#{con.$n}#{$p});
  }
}

@each $b in con.$padding-horizontal-breakpoints {
  @each $p in con.$padding-left {
    .#{$layout-fix}#{$padding-left-fix}-#{$p}-#{$b},
    .#{$layout-fix}#{$padding-x-fix}-#{$p}-#{$b} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-left: var(--#{con.$n}#{$p})
      ));
    }
  }

  @each $p in con.$padding-right {
    .#{$layout-fix}#{$padding-right-fix}-#{$p}-#{$b},
    .#{$layout-fix}#{$padding-x-fix}-#{$p}-#{$b} {
      @include breakpoint.breakpoint-batch-add($b, (
        padding-right: var(--#{con.$n}#{$p})
      ));
    }
  }
}
