/**
 * Text - Align Styles
 */

/* Imports */

@use "../../utils/fix/fix";

/* Class name customization */

$text-fix: fix.get-class-prefix("text");
$align-fix: fix.get-class-fix("text-align");

/* Styles */

.#{$text-fix}#{$align-fix}-center {
  text-align: center;
}

.#{$text-fix}#{$align-fix}-left {
  text-align: left;
}

.#{$text-fix}#{$align-fix}-right {
  text-align: right;
}
