/**
 * Components - nav overflow
 */

.c-nav-overflow {
  --visibility: hidden;

  visibility: var(--visibility);

  .c-nav[data-open="true"] & {
    --visibility: visible;
  }
}

.c-nav-overflow__list {
  &:empty {
    display: none;
  }
}
