/**
 * Layouts - Width Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "../../utils/breakpoint/breakpoint";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");
$width-fix: fix.get-class-fix("width");
$max-width-fix: fix.get-class-fix("max-width");

/* Relative units */

.#{$layout-fix}#{$width-fix}-full {
  width: 100%;
}

.#{$layout-fix}#{$width-fix}-full-vw {
  width: 100vw;
}

/* Config widths */

@each $w in con.$widths {
  .#{$layout-fix}#{$width-fix}-#{$w} {
    width: var(--#{con.$n}#{$w});
  }
}

@each $b in con.$width-breakpoints {
  @each $w in con.$widths {
    .#{$layout-fix}#{$width-fix}-#{$w}-#{$b} {
      @include breakpoint.breakpoint-batch-add($b, (
        width: var(--#{con.$n}#{$w})
      ));
    }
  }
}

/* Config percentage widths */

@each $w, $v in con.$width-percentages {
  .#{$layout-fix}#{$width-fix}-#{$w} {
    width: $v;
  }
}

@each $b in con.$width-percentage-breakpoints {
  @each $w, $v in con.$width-percentages {
    .#{$layout-fix}#{$width-fix}-#{$w}-#{$b} {
      @include breakpoint.breakpoint-batch-add($b, (
        width: $v
      ));
    }
  }
}

/* Config max widths */

@each $w in con.$max-widths {
  .#{$layout-fix}#{$max-width-fix}-#{$w} {
    max-width: var(--#{con.$n}#{$w});
  }
}

@each $b in con.$max-width-breakpoints {
  @each $w in con.$max-widths {
    .#{$layout-fix}#{$max-width-fix}-#{$w}-#{$b} {
      @include breakpoint.breakpoint-batch-add($b, (
        max-width: var(--#{con.$n}#{$w})
      ));
    }
  }
}
