/**
 * Layouts - Width Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$width-fix: fix.get-class-fix("width");
$max-width-fix: fix.get-class-fix("max-width");

/* Relative units */

.l-#{$width-fix}-full {
  width: 100%;
}

.l-#{$width-fix}-full-vw {
  width: 100vw;
}

/* Config widths */

@each $w in con.$widths {
  .l-#{$width-fix}-#{$w} {
    width: var(--#{con.$v}#{$w});
  }
}

@each $b in con.$width-breakpoints {
  @each $w in con.$widths {
    .l-#{$width-fix}-#{$w}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        width: var(--#{con.$v}#{$w})
      ));
    }
  }
}

/* Config percentage widths */

@each $w, $v in con.$width-percentages {
  .l-#{$width-fix}-#{$w} {
    width: $v;
  }
}

@each $b in con.$width-percentage-breakpoints {
  @each $w, $v in con.$width-percentages {
    .l-#{$width-fix}-#{$w}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        width: $v
      ));
    }
  }
}

/* Config max widths */

@each $w in con.$max-widths {
  .l-#{$max-width-fix}-#{$w} {
    max-width: var(--#{con.$v}#{$w});
  }
}

@each $b in con.$max-width-breakpoints {
  @each $w in con.$max-widths {
    .l-#{$max-width-fix}-#{$w}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        max-width: var(--#{con.$v}#{$w})
      ));
    }
  }
}
