/**
 * A11y - Hide Styles
 */

/* Imports */

@forward "../../config/config";
@use "../../utils/fix/fix";

/* Class name customization */

$a11y-fix: fix.get-class-prefix("a11y");
$visually-fix: fix.get-class-fix("visually");

/* Styles */

.#{$a11y-fix}hide-#{$visually-fix} {
  @extend %u-hide-visually;
}

.#{$a11y-fix}hide-input {
  position: absolute;
  opacity: 0;
  width: 1em;
  height: 1em;
}
