/**
 * A11y - Hide Styles
 */

/* Imports */

@forward "../../config/config";
@use "../../utils/getClassFix/getClassFix" as fix;

/* Class name customization */

$visually-fix: fix.get-class-fix("visually");

/* Styles */

.a-hide-#{$visually-fix} {
  @extend %u-hide-visually;
}

.a-hide-input {
  position: absolute;
  opacity: 0;
  width: 1em;
  height: 1em;
}
