
/*
 * Fade slider
 * -----------
 */

.o-fade-slider {
	@extend %u-overflow-hidden;
	@extend %u-position-relative;
}

.o-fade-slider__item {
	@extend %u-position-relative;
	.o-fade-slider:not( [data-no-slides] ) & {
		@extend %u-opacity-0;
		z-index: 1;
		&[data-active] {
			@extend %u-opacity-1;
			z-index: 2;
		}
	}
}

.o-fade-slider__nav {
	@extend %u-position-absolute;
	@extend %u-left-0;
	@extend %u-right-0;
	z-index: 5;
}
