/**
 * Objects - Slider Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/breakpoint/breakpoint";
@use "../../utils/fix/fix";

/* Class name customization */

$object-fix: fix.get-class-prefix("object");

/* Containers */

.#{$object-fix}slider {
  --sld-height: auto;
  --sld-snap: x mandatory;
  --sld-items: var(--sld-items-init, 1);
  --sld-items-s: 1;
  --sld-items-m: 1;
  --sld-items-l: 1;
  --sld-item-width: 100% / var(--sld-items);
  --sld-padding: var(--#{con.$n}container-padding);
  --sld-track-padding: 0 0 0 var(--sld-padding);
  --sld-track-scroll: 0 0 0 var(--sld-padding); 
  --sld-gap: var(--sld-gap-init, var(--#{con.$n}4));
  --sld-gap-l: var(--#{con.$n}6);
  --sld-spacer: var(--sld-padding) + (var(--sld-gap) * 2);
  --sld-nav-fill: currentcolor;
  --sld-tab-fill: currentcolor;

  &[type="single"] {
    --sld-spacer-add: (var(--sld-width)) * (var(--sld-items) - 1);
    --sld-width:
      var(--sld-item-width) - ((var(--sld-padding) + (var(--sld-gap) * var(--sld-items))) / var(--sld-items));
  }

  &[type="group"] {
    --sld-width: 100% - (var(--sld-padding) + var(--sld-gap));
    --sld-spacer: var(--sld-padding);
  }

  &[type="flex"] {
    --sld-item-width: 100% * var(--sld-items);
    --sld-factor: var(--sld-length) / var(--sld-items);
    --sld-width: (100% * var(--sld-factor) - (var(--sld-padding) * (var(--sld-factor) * 2)));
  }

  @include breakpoint.breakpoint-min("s") {
    --sld-items: var(--sld-items-s);
  }

  @include breakpoint.breakpoint-min("m") {
    --sld-items: var(--sld-items-m);
  }

  @include breakpoint.breakpoint-min("l") {
    --sld-items: var(--sld-items-l);
    --sld-gap: var(--sld-gap-l);
  }
}

.#{$object-fix}slider-contain,
.#{$object-fix}slider-contain-full {
  @include breakpoint.breakpoint-min("container") {
    --sld-nav-display: block;
  }
}

.#{$object-fix}slider-contain {
  @include breakpoint.breakpoint-min("container-no-padding") {
    --sld-spacer: var(--sld-gap);
    --sld-track-padding: 0;
    --sld-track-scroll: 0;

    max-width: var(--#{con.$n}container);
    padding-left: var(--sld-padding);
    padding-right: var(--sld-padding);

    &[type="single"] {
      --sld-width: var(--sld-item-width) - ((var(--sld-gap) * (var(--sld-items) - 1)) / var(--sld-items));
    }

    &[type="group"] {
      --sld-width: 100%;
      --sld-spacer: 0px;
      --sld-spacer-width: 0px;
    }

    &[type="flex"] {
      --sld-width: 100% * var(--sld-factor);
    }
  }
}

.#{$object-fix}slider-contain-full {
  @include breakpoint.breakpoint-min("container") {
    --sld-container: var(--#{con.$n}container-no-padding);
    --sld-item-width: var(--sld-container) / var(--sld-items);
    --sld-track-scroll: 0 0 0 calc(50vw - (var(--#{con.$n}scrollbar-width, 0px) / 2) - (var(--sld-container) / 2));
    --sld-track-padding: 0;

    &[type="single"] {
      --sld-width: var(--sld-item-width) - ((var(--sld-gap) * (var(--sld-items) - 1)) / var(--sld-items));
    }
  }
}

.#{$object-fix}slider-main {
  height: var(--sld-height);
}

.#{$object-fix}slider-track {
  padding: var(--sld-track-padding);
  scroll-padding: var(--sld-track-scroll);
  scroll-snap-type: var(--sld-snap);
  -webkit-overflow-scrolling: touch;
}

/* Slides */

.#{$object-fix}slider-panel {
  scroll-snap-align: start;
  width: calc(var(--sld-width));
}

.#{$object-fix}slider-spacer {
  margin-left: calc(var(--sld-spacer-add, 0px) + var(--sld-spacer));
  min-width: var(--sld-spacer-width, 0.0625rem);
}

.#{$object-fix}slider-item {
  [type="flex"] & {
    --sld-item-width: (1 / var(--sld-factor)) * var(--sld-item-width);

    scroll-snap-align: start;
  }

  width: calc(var(--sld-item-width));
}

/* Navigation */

// MAXXXXXXXX

.#{$object-fix}slider-tab {
  &[aria-selected="true"] {
    --sld-dot-bg: var(--sld-tab-fill);
  }
}

.#{$object-fix}slider-dot {
  background: var(--sld-dot-bg, transparent);
}

.#{$object-fix}slider-prev,
.#{$object-fix}slider-next {
  top: 50%;
  display: var(--sld-nav-display, none);
  background: var(--sld-nav-fill);
}

.#{$object-fix}slider-prev {
  transform: translate(100%, -50%);
}

.#{$object-fix}slider-next {
  transform: translate(-100%, -50%);
}
