/**
 * Utility classes: object fit
 */

/* Imports */

@use "../../config" as con;

/* Styles */

.u-obf-cn {
  object-fit: contain;

  @extend %u-width-100;
  @extend %u-height-100;

  .no-obf & {
    @extend %u-opacity-0;
    @extend %u-visibility-hidden;
  }
}

.u-obf-cv {
  object-fit: cover;

  @extend %u-width-100;
  @extend %u-height-100;

  .no-obf & {
    @extend %u-opacity-0;
    @extend %u-visibility-hidden;
  }
}

.u-obf-cv-f {
  background-size: cover;
}

.u-obf-cn-f {
  background-size: contain;
}

.u-obf-cv-f,
.u-obf-cn-f {
  @extend %u-position-absolute;
  @extend %u-top-0;
  @extend %u-bottom-0;
  @extend %u-right-0;
  @extend %u-left-0;
  @extend %u-width-100;
  @extend %u-height-100;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  * > & {
    @extend %u-position-relative;
  }

  .obf & {
    @extend %u-display-none;
  }
}
