/**
 * Backgrounds - Color Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$bg-fix: fix.get-class-prefix("background");

/* Styles */

@each $c in con.$background-colors {
  .#{$bg-fix}#{$c} {
    background-color: var(--#{con.$n}#{$c});
  }
}
