/**
 * Layouts - Flexbox Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$column-fix: fix.get-class-fix("column");

/* Styles */

.l-#{$column-fix} {
  flex-direction: column;
}

.l-row {
  flex-direction: row;
}

.l-wrap {
  flex-wrap: wrap;
}

.l-shrink-0 {
  flex-shrink: 0;
}

.l-grow-1 {
  flex-grow: 1;
}

@each $b in con.$flex-column-breakpoints {
  .l-#{$column-fix}-#{$b} {
    @include breakpoints.breakpoint-batch-add($b, (
      flex-direction: column
    ));
  }
}

@each $b in con.$flex-row-breakpoints {
  .l-row-#{$b} {
    @include breakpoints.breakpoint-batch-add($b, (
      flex-direction: row
    ));
  }
}
