/**
 * Utils - Get Class Fix Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;

/**
 * Get default or terse infix or prefix for class name
 *
 * @param {string} $name
 * @return {string}
 */
 @function get-class-fix($name: "container") {
  $fix: map.get(con.$names-default, $name);

  @if con.$terse {
    $fix: map.get(con.$names-terse, $name);
  }

  @return $fix;
}
