/**
 * Layouts - Display Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/breakpoints/breakpoints";

/* Styles */

.l-none {
  display: none;
}

.l-block {
  display: block;
}

.l-inline-block {
  display: inline-block;
}

.l-flex {
  display: flex;
}

.l-inline-flex {
  display: inline-flex;
}

.l-grid {
  display: grid;
}

@each $b in con.$block-breakpoints {
  .l-block-#{$b} {
    @include breakpoints.breakpoint-batch-add($b, (
      display: block
    ));
  }
}

@each $b in con.$none-breakpoints {
  .l-none-#{$b} {
    @include breakpoints.breakpoint-batch-add($b, (
      display: none
    ));
  }
}
