/**
 * Layouts - Breakout Styles
 */

/* Imports */

@use "../../utils/fix/fix";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");

/* Styles */

.#{$layout-fix}breakout {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-50%);
  width: 100vw;
  left: 50%;
}
