/**
 * Layouts - Gap Margin Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/breakpoints/breakpoints";

/* Class name infix */

$gap-margin-infix: "gap-margin";

@if con.$terse {
  $gap-margin-infix: "gm";
}

/* Styles */

%l-gap-margin {
  margin: calc(var(--gap-margin) * -1) 0 0 calc(var(--gap-margin) * -1);

  & > * {
    padding: var(--gap-margin) 0 0 var(--gap-margin);
  }
}

@each $g in con.$gaps {
  .l-#{$gap-margin-infix}-#{$g} {
    --gap-margin: var(--#{$g});

    @extend %l-gap-margin;
  }
}

@each $b in con.$gap-breakpoints {
  @include breakpoints.breakpoint-min($b) {
    @each $g in con.$gaps {
      .l-#{$gap-margin-infix}-#{$g}-#{$b} {
        --gap-margin: var(--#{$g});
      }
    }
  }
}
