/**
 * Layouts - Gap Margin Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$gap-margin-fix: fix.get-class-fix("gap-margin");

/* Styles */

%l-gap-margin {
  margin: calc(var(--gap-margin) * -1) 0 0 calc(var(--gap-margin) * -1);

  & > * {
    padding: var(--gap-margin) 0 0 var(--gap-margin);
  }
}

@each $g in con.$gaps {
  .l-#{$gap-margin-fix}-#{$g} {
    --gap-margin: var(--#{$g});

    @extend %l-gap-margin;
  }
}

@each $b in con.$gap-breakpoints {
  @include breakpoints.breakpoint-min($b) {
    @each $g in con.$gaps {
      .l-#{$gap-margin-fix}-#{$g}-#{$b} {
        --gap-margin: var(--#{$g});
      }
    }
  }
}
