/**
 * Layouts - Gap Margin Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$gap-margin-fix: fix.get-class-fix("gap-margin");

/* Styles */

%l-gap-margin {
  margin: calc(var(--#{con.$v}gap-margin) * -1) 0 0 calc(var(--#{con.$v}gap-margin) * -1);

  & > * {
    padding: var(--#{con.$v}gap-margin) 0 0 var(--#{con.$v}gap-margin);
  }
}

@each $g in con.$gaps {
  .l-#{$gap-margin-fix}-#{$g} {
    --#{con.$v}gap-margin: var(--#{con.$v}#{$g});

    @extend %l-gap-margin;
  }
}

@each $b in con.$gap-breakpoints {
  @each $g in con.$gaps {
    .l-#{$gap-margin-fix}-#{$g}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        --#{con.$v}gap-margin: var(--#{con.$v}#{$g})
      ));
    }
  }
}
