/**
 * Objects aspect ratio
 */

/* Imports */

@use "mixins" as mix;
@use "../../config" as con;

/* Styles */

.l-aspect-ratio .l-relative .l-overflow-hidden

.l-aspect-ratio {
  &::before {
    @extend %u-content-empty;
    @extend %u-display-block;

    padding-top: 100%;
  }

  @include mix.aspect-ratio-padding(con.$aspect-ratio-padding);
}

"l-absolute l-top-0 l-left-0 l-width-100-pc l-height-100-pc l-object-cover"


.o-aspect-ratio__video {
  @extend %u-position-absolute;

  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  max-width: none;
}
