/**
 * Layouts - Height Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$height-fix: fix.get-class-fix("height");
$min-height-fix: fix.get-class-fix("min-height");

/* Relative units */

.l-#{$height-fix}-full {
  height: 100%;
}

.l-#{$height-fix}-full-vh {
  height: 100vh;
}

.l-#{$min-height-fix}-full-vh {
  min-height: 100vh;
}

/* Config heights */

@each $h in con.$heights {
  .l-#{$height-fix}-#{$h} {
    height: var(--#{con.$v}#{$h});
  }
}

@each $b in con.$height-breakpoints {
  @each $h in con.$heights {
    .l-#{$height-fix}-#{$h}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        height: var(--#{con.$v}#{$h})
      ));
    }
  }
}
