/**
 * Effects - Transition
 */

/* Imports */

@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;

/* Class name customization */

$transition-fix: fix.get-class-fix("transition");

/* Styles */

$transition-classes: ();
$transition-classes-store: ();

@each $t, $v in con.$transitions {
  $suffix: "";

  @if $t != "default" {
    $suffix: "-#{$t}";
  }

  $class: ".e-#{$transition-fix}#{$suffix}";
  $transition-classes-store: map.merge($transition-classes-store, (#{$t}: $class));
  $transition-classes: list.append($transition-classes, $class, $separator: comma);
}

#{$transition-classes} {
  transition-property: var(--#{con.$v}prop);
  transition-duration: var(--#{con.$v}duration);
  transition-timing-function: var(--#{con.$v}easing);
  transition-delay: var(--#{con.$v}delay);
}

@each $t, $v in con.$transitions {
  @if $t != "default" {
    $class: map.get($transition-classes-store, $t);

    #{$class} {
      @each $tt, $vv in $v {
        @if $tt == "prop" {
          --#{con.$v}prop: #{$vv};
        } @else if $tt == "easing" {
          --#{con.$v}easing: #{$vv};
        } @else if $tt == "duration" {
          --#{con.$v}duration: #{$vv};
        } @else if $tt == "delay" {
          --#{con.$v}delay: #{$vv};
        }
      }
    }
  }
}
