/**
 * Components - Nav Icon Two Styles
 */

/* Imports */

@use "./NavIcon" as icon;

/* Styles */

[data-nav-icon="2"] {
  --duration: 175ms;
  --y: 0;
  --y-r: 0;
  --opacity: 1;

  .c-nav-icon__top {
    transform: translateY(var(--y));
  }

  .c-nav-icon__bottom {
    transform: translateY(var(--y-r));
  }

  .c-nav-icon__middle {
    opacity: var(--opacity);
  }

  [data-nav-show] & {
    --y: #{icon.$y};
    --y-r: #{icon.$y * -1};
    --opacity: 0;
  }
}
