/**
 * Components - Nav Icon Five Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "./NavIcon" as icon;

/* Styles */

@keyframes e-nav-icon-collapse {
  0% {
    transform: translateY(var(--y-0)) rotate(var(--r-0));
  }

  1% {
    transform: translateY(var(--y-1)) rotate(var(--r-0));
  }

  100% {
    transform: translateY(var(--y-100)) rotate(var(--r-100));
  }
}

[data-nav-icon="5"] {
  .c-nav-icon__top {
    --y-0: #{icon.$y};
    --y-1: #{icon.$y};
    --y-100: 0;
    --r-0: 45deg;
    --r-100: 0deg;
  }

  .c-nav-icon__bottom {
    --y-0: #{icon.$y * -1};
    --y-1: #{icon.$y * -1};
    --y-100: 0;
    --r-0: -45deg;
    --r-100: 0deg;
  }

  .c-nav-icon__top,
  .c-nav-icon__bottom {
    animation: 300ms ease forwards e-nav-icon-collapse;
  }

  .c-nav-icon__middle {
    --#{con.$v}duration: 150ms;
    --#{con.$v}delay: 100ms;
    --opacity: 1;

    opacity: var(--opacity);
  }

  [data-nav-show] & {
    .c-nav-icon__middle {
      --#{con.$v}delay: 0ms;
      --opacity: 0;
    }

    .c-nav-icon__top {
      --y-0: #{icon.$y};
      --y-1: #{icon.$y};
      --y-100: #{icon.$y};
      --r-0: 0deg;
      --r-100: 45deg;
    }

    .c-nav-icon__bottom {
      --y-0: 0;
      --y-1: #{icon.$y * -1};
      --y-100: #{icon.$y * -1};
      --r-0: 0deg;
      --r-100: -45deg;
    }

    .c-nav-icon__top,
    .c-nav-icon__bottom {
      animation: 300ms ease forwards e-nav-icon-collapse;
    }
  }
}
