/**
 * Borders - Side Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;

/* Styles */

$sides: map.get(con.$borders, "sides");

@each $s in $sides {
  .b-#{$s} {
    @if $s == "all" {
      border: var(--#{con.$v}border-width) solid var(--#{con.$v}border-color);
    } @else if $s == "left" {
      border-left: var(--#{con.$v}border-width) solid var(--#{con.$v}border-color);
    } @else if $s == "right" {
      border-right: var(--#{con.$v}border-width) solid var(--#{con.$v}border-color);
    } @else if $s == "top" {
      border-top: var(--#{con.$v}border-width) solid var(--#{con.$v}border-color);
    } @else if $s == "bottom" {
      border-bottom: var(--#{con.$v}border-width) solid var(--#{con.$v}border-color);
    }
  }
}
