
/*
 * Utility classes
 * ---------------
 */

/* Hide */

$_1px: calcRem( 1px );

.u-v-h {
	@extend %u-visually-hidden;
}

.u-h-i {
	@extend %u-position-absolute;
	@extend %u-overflow-hidden;
	width: $_1px;
	height: $_1px;
	padding: 0;
	border: 0;
	clip: rect( $_1px $_1px $_1px $_1px );
}

/* Dimensions */

.u-h-100 {
	@extend %u-height-100;
}

.u-w-100 {
	@extend %u-width-100;
}

/* Position */

.u-p-r {
	@extend %u-position-relative;
}

.u-p-a {
	@extend %u-position-absolute;

	&[data-p="all"] {
		@extend %u-left-0;
		@extend %u-right-0;
		@extend %u-top-0;
		@extend %u-bottom-0;
	}

	&[data-p-l] {
		@extend %u-left-0;
	}

	&[data-p-r] {
		@extend %u-right-0;
	}

	&[data-p-t] {
		@extend %u-top-0;
	}

	&[data-p-b] {
		@extend %u-bottom-0;
	}
}

.u-p-c {
	@extend %u-position-absolute;
	@extend %u-position-vertical-center;
	@extend %u-left-0;
	@extend %u-right-0;
	@extend %u-margin-auto;
}

/* Overflow */

.u-o-h {
	@extend %u-overflow-hidden;
}

/* Text */

.u-ta-l {
	@extend %u-text-align-left;
}

.u-ta-r {
	@extend %u-text-align-right;
}

.u-ta-c {
	@extend %u-text-align-center;
}

/* Display */

.u-d-n {
	@extend %u-display-none;
}

.u-d-b {
	@extend %u-display-block;
}

.u-d-ib {
	@extend %u-display-inline-block;
}

/* Object fit */

.u-obf-cn {
	object-fit: contain !important;
	@extend %u-width-100;
	@extend %u-height-100;

	.no-obf & {
		@extend %u-opacity-0;
		@extend %u-visibility-hidden;
	}  
}

.u-obf-cv {
	object-fit: cover !important;
	@extend %u-width-100;
	@extend %u-height-100;

	.no-obf & {
		@extend %u-opacity-0;
		@extend %u-visibility-hidden;
	}
}

.u-obf-cv-f,
.u-obf-cn-f {
	@extend %u-position-absolute;
	@extend %u-top-0;
	@extend %u-bottom-0;
	@extend %u-right-0;
	@extend %u-left-0;
	@extend %u-width-100;
	@extend %u-height-100;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	.obf & {
		@extend %u-display-none;
	}

	* > & {
		@extend %u-position-relative;
	}
}

.u-obf-cv-f {
	background-size: cover;
}

.u-obf-cn-f {
	background-size: contain;
}

/* Background / Object Fit */

.u-p-lt {
	object-position: left top;
	background-position: left top;
}

.u-p-lc {
	object-position: left center;
	background-position: left center;
}

.u-p-lb {
	object-position: left bottom;
	background-position: left bottom;
}

.u-p-ct {
	object-position: center top;
	background-position: center top;
}

.u-p-cc {
	object-position: center center;
	background-position: center center;
}

.u-p-cb {
	object-position: center bottom;
	background-position: center bottom;
}

.u-p-rt {
	object-position: right top;
	background-position: right top;
}

.u-p-rc {
	object-position: right center;
	background-position: right center;
}

.u-p-rb {
	object-position: right bottom;
	background-position: right bottom;
}

/* Misc */

.u-svg-sc {
	@extend %u-width-100;
	@extend %u-display-block;

	& ~ svg {
		@extend %u-position-absolute;
		@extend %u-top-0;
		@extend %u-left-0;
		@extend %u-right-0;
	}
}
