
/*
 * Utility properties
 * ------------------
 */

/* Dependencies */

@import 'functions';
@import 'mixins';

/* Overflow */

$g-props: _addProp( $g-props, ( overflow: hidden ) );
$g-props: _addProp( $g-props, ( overflow: scroll ) );
$g-props: _addProp( $g-props, ( overflow-y: auto ) );
$g-props: _addProp( $g-props, ( overflow-x: hidden ) );

/* Floats */

$g-props: _addProp( $g-props, ( float: left ) );
$g-props: _addProp( $g-props, ( float: right ) );

/* Display */

$g-props: _addProp( $g-props, ( display: none ) );
$g-props: _addProp( $g-props, ( display: block ) );
$g-props: _addProp( $g-props, ( display: inline-block ) );
$g-props: _addProp( $g-props, ( display: flex ) );
$g-props: _addProp( $g-props, ( display: table ) );
$g-props: _addProp( $g-props, ( display: table-row  ) );
$g-props: _addProp( $g-props, ( display: table-cell ) );

/* Flexbox */

$g-props: _addProp( $g-props, ( flex-shrink: 0 ) );
$g-props: _addProp( $g-props, ( flex-grow: 1 ) );

/* Visibility */

$g-props: _addProp( $g-props, ( visibility: hidden ) );
$g-props: _addProp( $g-props, ( visibility: visible ) );

/* Position */

$g-props: _addProp( $g-props, ( position: relative ) );
$g-props: _addProp( $g-props, ( position: absolute ) );
$g-props: _addProp( $g-props, ( position: fixed ) );
$g-props: _addProp( $g-props, ( top: 0 ) );
$g-props: _addProp( $g-props, ( bottom: 0 ) );
$g-props: _addProp( $g-props, ( left: 0 ) );
$g-props: _addProp( $g-props, ( right: 0 ) );
$g-props: _addProp( $g-props, (
	custom: (
		name: position-vertical-center,
		prop: (
			top: 50%,
			transform: translateY( -50% ),
			bottom: auto
		)
	)
) );

/* Text align */

$g-props: _addProp( $g-props, ( text-align: left ) );
$g-props: _addProp( $g-props, ( text-align: right ) );
$g-props: _addProp( $g-props, ( text-align: center ) );
$g-props: _addProp( $g-props, ( text-align: justify ) );
$g-props: _addProp( $g-props, ( text-transform: uppercase ) );

/* Vertical align */

$g-props: _addProp( $g-props, ( vertical-align: bottom ) );
$g-props: _addProp( $g-props, ( vertical-align: middle ) );
$g-props: _addProp( $g-props, ( vertical-align: top ) );

/* Margin */

$g-props: _addProp( $g-props, ( margin: auto ) );
$g-props: _addProp( $g-props, ( margin-right: auto ) );
$g-props: _addProp( $g-props, ( margin-left: auto ) );

/* Border radius */

$g-props: _addProp( $g-props, (
	custom: (
		name: border-radius-100,
		prop: (
			border-radius: 100%
		)
	)
) );

/* Fonts */

@include _fontProps();

/* Transform origin */

$g-props: _addProp( $g-props, (
	custom: (
		name: transform-origin-0-0,
		prop: (
			transform-origin: 0% 0%
		)
	)
) );

$g-props: _addProp( $g-props, (
	custom: (
		name: transform-origin-0-100,
		prop: (
			transform-origin: 0% 100%
		)
	)
) );

$g-props: _addProp( $g-props, (
	custom: (
		name: transform-origin-100-0,
		prop: (
			transform-origin: 100% 0%
		)
	)
) );

$g-props: _addProp( $g-props, (
	custom: (
		name: transform-origin-100-100,
		prop: (
			transform-origin: 100% 100%
		)
	)
) );

/* Opacity */

$g-props: _addProp( $g-props, ( opacity: 0 ) );
$g-props: _addProp( $g-props, ( opacity: 1 ) );

/* Transitions */

@include _transitionProps();

/* Width / height */

$g-props: _addProp( $g-props, ( width: inherit ) );
$g-props: _addProp( $g-props, ( height: inherit ) );

$g-props: _addProp( $g-props, (
	custom: (
		name: width-100,
		prop: (
			width: 100%
		)
	)
) );

$g-props: _addProp( $g-props, (
	custom: (
		name: width-100vw,
		prop: (
			width: 100vw
		)
	)
) );

$g-props: _addProp( $g-props, (
	custom: (
		name: height-100,
		prop: (
			height: 100%
		)
	)
) );

$g-props: _addProp( $g-props, (
	custom: (
		name: height-100vh,
		prop: (
			height: 100vh
		)
	)
) );

/* Colors */

$g-props: _addProp( $g-props, ( color: inherit ) );
$g-props: _addProp( $g-props, ( background-color: inherit ) );

// save $colors
$colorsCopy: $g-colors;

// convert nested colors to one level map
$g-colors: _mapFlatten( $g-colors, (), 'color' );

@each $name, $value in $g-colors {
	$g-props: _addProp( $g-props, (
		custom: (
			name: $name,
			prop: (
				color: $value
			)
		)
	) );

	$g-props: _addProp( $g-props, (
		custom: (
			name: "background-#{ $name }",
			prop: (
				background-color: $value
			)
		)
	) );

	$g-props: _addProp( $g-props, (
		custom: (
			name: "fill-#{ $name }",
			prop: (
				fill: $value
			)
		)
	) );

	$g-props: _addProp( $g-props, (
		custom: (
			name: "border-#{ $name }",
			prop: (
				border-color: $value
			)
		)
	) );
}

// convert nested colors to one level map without prefix
$g-colors: _mapFlatten( $colorsCopy, (), '' );

// convert properties to placeholders
@each $prop in $g-props {
	@each $key, $value in $prop {
		@include _makeUtil( $key, $value );
	}
}

/* Grayscale ( work around for duplicate key issue ) */

%u-grayscale {
	@include grayscale();
}

/* Touch area of 50px */

%u-touch-50 {
	&::before {
		content: '';
		@extend %u-position-absolute;
		transform: translate( -50%, -50% );
		width: calcRem( 50px );
		height: calcRem( 50px );
		top: 50%;
		left: 50%;
	}
}
