/**
 * Borders - Color Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;

/* Styles */

$colors: map.get(con.$borders, "colors");

@each $c, $v in $colors {
  @if $c != "default" {
    .b-#{$c} {
      --#{con.$v}border-color: #{$v};
    }
  }
}
