
/*
 * Nav icon: three
 * ---------------
 */

.c-nav-icon.--three {
	transform: rotate( 0deg );
	transition: transform 225ms ease;
	& .c-nav-icon__top,
	& .c-nav-icon__bottom {
		transform: translateY( 0 ) rotate( 0deg );
		transition: transform 225ms ease;
	}
	& .c-nav-icon__middle {
		@extend %u-opacity-1;
		transition: opacity 225ms ease;
	}
	.--show & {
		transform: rotate( 45deg );
		& .c-nav-icon__top {
			transform: translateY( $_navIconY );
		}
		& .c-nav-icon__middle {
			@extend %u-opacity-0;
		}
		& .c-nav-icon__bottom {
			transform: translateY( #{ $_navIconY * -1 } ) rotate( 90deg );
		}
	}
}
