
/*
 * Nav icon: nine
 * --------------
 */

.c-nav-icon[data-num="9"] {
	& .c-nav-icon__top,
	& .c-nav-icon__bottom {
		transform: translate( 0, 0 ) rotate( 0deg ) scaleX( 1 );
		transition: transform 200ms ease;
	}
	.c-nav__button[data-show] & {
		& .c-nav-icon__top {
			transform: translate( 10px, 3px ) rotate( 45deg ) scaleX( 0.6 );
		}
		& .c-nav-icon__bottom {
			transform: translate( 10px, -3px ) rotate( -45deg ) scaleX( 0.6 );
		}
	}
}
