
/*
 * Nav icon: seven
 * ---------------
 */

.c-nav-icon[data-num="7"] {
	transition: transform 200ms ease;

	& .c-nav-icon__top,
	& .c-nav-icon__bottom {
		transform: translateY( 0 ) rotate( 0deg );
		transition: transform 0s ease 150ms;
	}

	& .c-nav-icon__middle {
		@extend %u-opacity-1;
		transition: opacity 0s ease 150ms;
	}

	.c-nav__button:not( [data-show] ) & {
		animation: _navIconGrowShrinkCopy 300ms;
	}

	.c-nav__button[data-show] & {
		& .c-nav-icon__top {
			transform: translateY( $_y ) rotate( 45deg );
		}
		& .c-nav-icon__middle {
			@extend %u-opacity-0;
		}
		& .c-nav-icon__bottom {
			transform: translateY( #{ $_y * -1 } ) rotate( -45deg );
		}
		
		animation: _navIconGrowShrink 300ms;
	}
}

@keyframes _navIconGrowShrinkCopy {
	0% { 
		transform: scale( 1 ); 
	}
	50% { 
		transform: scale( 0.20 ); 
	}
	100% { 
		transform: scale( 1 );
	}
}

@keyframes _navIconGrowShrink {
	0% { 
		transform: scale( 1 ); 
	}
	50% { 
		transform: scale( 0.20 ); 
	}
	100% { 
		transform: scale( 1 );
	}
}
