/**
 * Objects - Lazy Load Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$object-fix: fix.get-class-prefix("object");

/* Styles */

.#{$object-fix}lazy {
  --#{con.$n}duration: 200ms;
  --lz-op: 0;

  opacity: var(--lz-op);

  &[data-lazy="loaded"],
  &[data-lazy="error"] {
    --lz-op: 1;
  }
}
