/**
 * Config
 */

/* Variables */

@use "../../../../src/config" with (

  $padding-top: ("s", "m", "l"),
  $padding-bottom: ("s", "m", "l"),

  $margin-bottom: ("s", "m", "l"),
  $margin-bottom-all: ("s", "m", "l"),

  $aspect-ratio-padding: (
    56: 56.25%,
    66: 66.667%,
  ),

);