/**
 * Components - Skip Link Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$component-fix: fix.get-class-prefix("component");

/* Styles */

.#{$component-fix}skip-link {
  --sk-op: 0;
  --sk-y: -100%;

  z-index: map.get(con.$z-index, "skip-link");
  transform: translateY(var(--sk-y));
  opacity: var(--sk-op);

  &:focus {
    --sk-op: 1;
    --sk-y: 0;
  }
}
