/**
 * Objects - Collapsible Styles
 */

@use "../../../lib/objects/Collapsible/Collapsible";

/* Styles */

#clp-hover {
  --clp-rows: 1fr;

  .collapsible-panel {
    --frm-prop: opacity;

    opacity: var(--clp-opacity, 0);
  }

  .collapsible-content {
    white-space: nowrap;
    min-width: fit-content;
  }

  &[expanded="true"] {
    --clp-opacity: 1;
  }
}
