/**
 * Objects - Loader Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;

/* Styles */

.o-loader {
  --#{con.$v}prop: #{con.$loader-prop};
  --#{con.$v}duration: #{con.$loader-duration};
  --#{con.$v}delay: #{con.$loader-delay};
  --visibility: hidden;
  --opacity: 0;

  background-color: inherit;
  z-index: #{map.get(con.$z-index, "loader")};
  visibility: var(--visibility);
  opacity: var(--opacity);

  &[data-loader-show] {
    --#{con.$v}delay: #{con.$loader-delay-show};
    --visibility: visible;
    --opacity: 1;
  }
}
