
/* 
 * Gradient
 * --------
 *
 * @param [string] $direction
 * @param [boolean] $image
 * @param [list] of maps $color-stops
 */

@mixin linearGradient( $direction, $image: false, $color-stops... ) {
    // direction has been omitted and happens to be a color-stop
    @if is-direction( $direction ) == false {
        $color-stops: $direction, $color-stops;
        $direction: left;
    }

    @if $image {
        background-image: nth( nth( $color-stops, 1 ), 1 );
        background-image: -moz-linear-gradient( $direction, $color-stops );
        background-image: -webkit-linear-gradient( $direction, $color-stops );
        background-image: -o-linear-gradient( $direction, $color-stops );
        background-image: linear-gradient( $direction, $color-stops );
    } @else {
        background: nth( nth( $color-stops, 1 ), 1 );
        background: -moz-linear-gradient( $direction, $color-stops );
        background: -webkit-linear-gradient( $direction, $color-stops );
        background: -o-linear-gradient( $direction, $color-stops );
        background: linear-gradient( $direction, $color-stops );
    }
}
