/**
 * Text - Letter Spacing Styles
 */

/* Imports */

@use "../../config/config" as con;

/* Styles */

@each $l, $v in con.$letter-spacing {
  .t-space-#{$l} {
    letter-spacing: var(--#{con.$v}letter-spacing-#{$l});
  }
}
