
/*
 * Table Scroll
 * ------------
 */

/* Dependencies */

@use '../../../config' as frm;

#{ frm.$tableScrollSelector } {
	overflow-x: auto;
	
	table {
		@extend %u-width-100;
	  border-collapse: collapse;
	  border-spacing: 0;
	}
}
