/**
 * Objects table scroll
 */

/* Imports */

@use "../../../config" as con;

/* Styles */

.o-table-scroll {
  overflow-x: auto;

  table {
    @extend %u-width-100;

    border-collapse: collapse;
    border-spacing: 0;
  }
}
