
/*
 * Imports
 * -------
 */

@use '../../../config' as con;

/*
 * Table Scroll
 * ------------
 */

#{ con.$tableScrollSelector } {
	overflow-x: auto;
	
	table {
		@extend %u-width-100;
	  border-collapse: collapse;
	  border-spacing: 0;
	}
}
