/**
 * Base - Focus Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;

/* Global */

:focus {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }

  :focus-visible,
  button:focus-visible,
  [type="button"]:focus-visible,
  [type="reset"]:focus-visible,
  [type="submit"]:focus-visible {
    outline: var(--outline-width) solid var(--outline-color);
    outline-offset: var(--outline-offset);
  }
}

/* Offsets */

$outline-offsets: map.get(con.$outline, "offsets");

@each $o, $v in $outline-offsets {
  @if $o != "default" {
    .outline-#{$o} {
      --outline-offset: #{$v};
    }
  }
}

/* None */

$outline-none: map.get(con.$outline, "none");

@if $outline-none != false {
  .outline-none:focus {
    outline: none;
  }
}
