
/*
 * Imports
 * -------
 */

@use '../utils/functions/calc-rem-em as c;

/*
 * Shake animation
 * ---------------
 */

.a-shake {
	animation: _aShake 0.82s cubic-bezier( 0.36, 0.07, 0.19, 0.97 ) both;
}

@keyframes _aShake {
	10%, 90% {
		transform: translate3d( #{ c.calcRem( -1px ) }, 0, 0 );
	}

	20%, 80% {
		transform: translate3d( #{ c.calcRem( 2px ) }, 0, 0 );
	}

	30%, 50%, 70% {
		transform: translate3d( #{ c.calcRem( -4px ) }, 0, 0 );
	}

	40%, 60% {
		transform: translate3d( #{ c.calcRem( 4px ) }, 0, 0 );
	}
}
