/**
 * Borders - Radius Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$radius-fix: fix.get-class-fix("border-radius");

/* Styles */

.b-#{$radius-fix}-full {
  border-radius: 100%;
}

@each $r, $v in con.$border-radius {
  .b-#{$radius-fix}-#{$r} {
    border-radius: var(--#{con.$v}border-radius-#{$r});
  }
}

@each $b in con.$border-radius-breakpoints {
  @each $r, $v in con.$border-radius {
    .b-#{$radius-fix}-#{$r}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        border-radius: var(--#{con.$v}border-radius-#{$r})
      ));
    }
  }
}
