/**
 * Components - Navigation Icon Six Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;
@use "../../utils/calcRem/calcRem" as calc;

/* Styles */

.c-nav-icon-right {
  height: calc.calc-rem(map.get(con.$nav-icon, "line-width"));
}

.c-nav-icon-left {
  width: calc.calc-rem(map.get(con.$nav-icon, "line-width"));
}

[data-nav-icon="6"] {
  --#{con.$v}duration: 200ms;
  --delay-top: 500ms;
  --delay-middle: 625ms;
  --delay-bottom: 750ms;
  --delay-left: 0ms;
  --delay-right: 250ms;
  --scale-lines: 1;
  --scale-cross: 0;
  --t-cross: -50%;

  /* Lines */

  .c-nav-icon-top,
  .c-nav-icon-middle,
  .c-nav-icon-bottom {
    transform: scaleX(var(--scale-lines));
    transform-origin: 0 50%;
  }

  .c-nav-icon-top {
    --#{con.$v}delay: var(--delay-top);
  }

  .c-nav-icon-middle {
    --#{con.$v}delay: var(--delay-middle);
  }

  .c-nav-icon-bottom {
    --#{con.$v}delay: var(--delay-bottom);
  }

  /* Cross */

  .c-nav-icon-cross {
    $w: calc.calc-rem(map.get(con.$nav-icon, "width") * 0.9);

    transform: rotate(45deg);
    height: $w;
    width: $w;
  }

  .c-nav-icon-left,
  .c-nav-icon-right {
    transform-origin: 0 0;
  }

  .c-nav-icon-left {
    --#{con.$v}delay: var(--delay-left);

    transform: scaleY(var(--scale-cross)) translateX(var(--t-cross));
    left: 50%;
  }

  .c-nav-icon-right {
    --#{con.$v}delay: var(--delay-right);

    transform: scaleX(var(--scale-cross)) translateY(var(--t-cross));
    top: 50%;
  }

  /* Transform */

  [data-nav-show] & {
    --delay-top: 0ms;
    --delay-middle: 125ms;
    --delay-bottom: 250ms;
    --delay-left: 625ms;
    --delay-right: 375ms;
    --scale-lines: 0;
    --scale-cross: 1;
  }
}
