/**
 * Components - Navigation Icon One Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "./NavigationIcon" as icon;

/* Styles */

[data-nav-icon="1"] {
  --#{con.$v}duration: 200ms;
  --y: 0;
  --y-r: 0;
  --rotate: 0deg;
  --rotate-r: 0deg;
  --scale: 1;

  .c-nav-icon-top {
    transform: translateY(var(--y)) rotate(var(--rotate));
  }

  .c-nav-icon-middle {
    transform: scaleX(var(--scale));
  }

  .c-nav-icon-bottom {
    transform: translateY(var(--y-r)) rotate(var(--rotate-r));
  }

  [data-nav-show] & {
    --y: #{icon.$y};
    --y-r: #{icon.$y * -1};
    --rotate: 45deg;
    --rotate-r: -45deg;
    --scale: 0;
  }
}
