/**
 * Components - Navigation Icon Five Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "./NavigationIcon" as icon;

/* Class name customization */

$component-fix: fix.get-class-prefix("component");

/* Styles */

@keyframes e-nav-icon-collapse-out {
  0% {
    transform: translateY(var(--ico-y-0)) rotate(var(--ico-rotate));
  }

  50% {
    transform: translateY(var(--ico-y-0));
  }

  100% {
    transform: translateY(var(--ico-y-100));
  }
}

@keyframes e-nav-icon-collapse-in {
  0% {
    transform: translateY(var(--ico-y-0));
  }

  50% {
    transform: translateY(var(--ico-y-100));
  }

  100% {
    transform: translateY(var(--ico-y-100)) rotate(var(--ico-rotate));
  }
}

[data-nav-icon="5"] {
  .#{$component-fix}nav-icon-top {
    --ico-y-0: #{icon.$y};
    --ico-y-100: 0;
    --ico-rotate: 45deg;
  }

  .#{$component-fix}nav-icon-bottom {
    --ico-y-0: #{icon.$y * -1};
    --ico-y-100: 0;
    --ico-rotate: -45deg;
  }

  .#{$component-fix}nav-icon-top,
  .#{$component-fix}nav-icon-bottom {
    animation: 300ms ease forwards e-nav-icon-collapse-out;
  }

  .#{$component-fix}nav-icon-middle {
    --#{con.$n}duration: 150ms;
    --#{con.$n}delay: 100ms;

    opacity: var(--ico-op, 1);
  }

  [show] & {
    .#{$component-fix}nav-icon-middle {
      --#{con.$n}delay: 0ms;
      --ico-op: 0;
    }

    .#{$component-fix}nav-icon-top {
      --ico-y-0: 0;
      --ico-y-100: #{icon.$y};
      --ico-rotate: 45deg;
    }

    .#{$component-fix}nav-icon-bottom {
      --ico-y-0: 0;
      --ico-y-100: #{icon.$y * -1};
      --ico-rotate: -45deg;
    }

    .#{$component-fix}nav-icon-top,
    .#{$component-fix}nav-icon-bottom {
      animation: 300ms ease forwards e-nav-icon-collapse-in;
    }
  }
}
