/**
 * Components - Navigation Icon Nine Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "./NavigationIcon" as icon;

/* Class name customization */

$component-fix: fix.get-class-prefix("component");

/* Variables */

$y: icon.$y + 0.0313rem; // 0.0313 to make corner sharp

/* Styles */

[data-nav-icon="9"] {
  --ico-y: 0;
  --ico-y-1: 0;
  --ico-rotate: 0deg;
  --ico-rotate-1: 0deg;
  --ico-scale: 1;

  .#{$component-fix}nav-icon-top,
  .#{$component-fix}nav-icon-bottom {
    --#{con.$n}duration: 200ms;
  }

  .#{$component-fix}nav-icon-top {
    transform: translateY(var(--ico-y)) rotate(var(--ico-rotate)) scaleX(var(--ico-scale));
    transform-origin: 100% 100%;
  }

  .#{$component-fix}nav-icon-bottom {
    transform: translateY(var(--ico-y-1)) rotate(var(--ico-rotate-1)) scaleX(var(--ico-scale));
    transform-origin: 100% 0;
  }

  [show] & {
    --ico-y: #{$y};
    --ico-y-1: #{$y * -1};
    --ico-rotate: 45deg;
    --ico-rotate-1: -45deg;
    --ico-scale: 0.6;
  }
}
