/**
 * Components - Navigation Icon Eight Styles
 */

/* Imports */

@use "sass:map";
@use "sass:math";
@use "../../config/config" as con;
@use "../../utils/calc/calc";
@use "../../utils/fix/fix";
@use "./NavigationIcon" as icon;

/* Class name customization */

$component-fix: fix.get-class-prefix("component");

/* Variables */

$width: map.get(con.$nav-icon, "width");
$line-width: map.get(con.$nav-icon, "line-width");
$x: calc.calc-rem(math.div($width, 2) - math.div($line-width, 2));
$y: (icon.$y + calc.calc-rem(math.div($line-width, 2)) + 0.0313rem); // 0.0313 to make x more precise

/* Styles */

[data-nav-icon="8"] {
  --#{con.$n}duration: 200ms;
  --ico-rotate: 0deg;
  --ico-rotate-1: 0deg;
  --ico-x: 0;
  --ico-x-1: 0;
  --ico-y: 0;
  --ico-y-1: 0;

  transform: rotate(var(--ico-rotate));

  .#{$component-fix}nav-icon-top,
  .#{$component-fix}nav-icon-bottom {
    width: 50%;
  }

  .#{$component-fix}nav-icon-top {
    transform: translate(var(--ico-x), var(--ico-y)) rotate(var(--ico-rotate-1));
    transform-origin: 0 0;
    margin-right: 50%;
  }

  .#{$component-fix}nav-icon-bottom {
    transform: translate(var(--ico-x-1), var(--ico-y-1)) rotate(var(--ico-rotate-1));
    transform-origin: 100% 100%;
    margin-left: 50%;
  }

  [show] & {
    --ico-rotate: -45deg;
    --ico-rotate-1: -90deg;
    --ico-x: #{$x};
    --ico-x-1: #{$x * -1};
    --ico-y: #{$y};
    --ico-y-1: #{$y * -1};
  }
}
