/**
 * Components - Navigation Icon Three Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "./NavigationIcon" as icon;

/* Styles */

[data-nav-icon="3"] {
  --#{con.$v}duration: 225ms;
  --rotate: 0deg;
  --rotate-in: 0deg;
  --y: 0;
  --y-r: 0;
  --opacity: 1;

  transform: rotate(var(--rotate));

  .c-nav-icon-top {
    transform: translateY(var(--y)) rotate(var(--rotate-in));
  }

  .c-nav-icon-bottom {
    transform: translateY(var(--y-r)) rotate(var(--rotate-in));
  }

  .c-nav-icon-middle {
    opacity: var(--opacity);
  }

  [data-nav-show] & {
    --rotate: 45deg;
    --rotate-in: 90deg;
    --y: #{icon.$y};
    --y-r: #{icon.$y * -1};
    --opacity: 0;
  }
}
