/**
 * Components - Navigation Icon Seven Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "./NavigationIcon" as icon;

/* Class name customization */

$component-fix: fix.get-class-prefix("component");

/* Styles */

@keyframes e-nav-icon-fluctuate-out {
  0% {
    transform: scale(var(--ico-scale-0));
  }

  50% {
    transform: scale(var(--ico-scale-50));
  }

  100% {
    transform: scale(var(--ico-scale-100));
  }
}

@keyframes e-nav-icon-fluctuate-in {
  0% {
    transform: scale(var(--ico-scale-0));
  }

  50% {
    transform: scale(var(--ico-scale-50));
  }

  100% {
    transform: scale(var(--ico-scale-100));
  }
}

[data-nav-icon="7"] {
  --#{con.$n}duration: 200ms;
  --ico-scale-0: 1;
  --ico-scale-50: 0.2;
  --ico-scale-100: 1;
  --ico-op: 1;
  --ico-rotate: 0deg;
  --ico-rotate-1: 0deg;
  --ico-y: 0;
  --ico-y-1: 0;

  animation: e-nav-icon-fluctuate-in 300ms;

  .#{$component-fix}nav-icon-top,
  .#{$component-fix}nav-icon-bottom,
  .#{$component-fix}nav-icon-middle {
    --#{con.$n}duration: 0ms;
    --#{con.$n}delay: 150ms;
  }

  .#{$component-fix}nav-icon-top,
  .#{$component-fix}nav-icon-bottom {
    transform: translateY(0) rotate(0deg);
  }

  .#{$component-fix}nav-icon-top {
    transform: translateY(var(--ico-y)) rotate(var(--ico-rotate));
  }

  .#{$component-fix}nav-icon-bottom {
    transform: translateY(var(--ico-y-1)) rotate(var(--ico-rotate-1));
  }

  .#{$component-fix}nav-icon-middle {
    opacity: var(--ico-op);
  }

  [data-nav-show] & {
    --ico-op: 0;
    --ico-rotate: 45deg;
    --ico-rotate-1: -45deg;
    --ico-y: #{icon.$y};
    --ico-y-1: #{icon.$y * -1};

    animation: e-nav-icon-fluctuate-out 300ms;
  }
}
