/**
 * Components - Navigation Icon Four Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "./NavigationIcon" as icon;

/* Class name customization */

$component-fix: fix.get-class-prefix("component");

/* Styles */

[data-nav-icon="4"] {
  --ico-rotate-0: 0deg;
  --ico-rotate: 0deg;
  --ico-rotate-1: 0deg;
  --ico-y: 0;
  --ico-y-1: 0;
  --ico-op: 1;

  transform: rotateY(var(--ico-rotate-0));

  .#{$component-fix}nav-icon-top,
  .#{$component-fix}nav-icon-middle,
  .#{$component-fix}nav-icon-bottom {
    --#{con.$n}duration: 0ms;
    --#{con.$n}delay: 100ms;
  }

  .#{$component-fix}nav-icon-top {
    transform: translateY(var(--ico-y)) rotate(var(--ico-rotate));
  }

  .#{$component-fix}nav-icon-bottom {
    transform: translateY(var(--ico-y-1)) rotate(var(--ico-rotate-1));
  }

  .#{$component-fix}nav-icon-middle {
    opacity: var(--ico-op);
  }

  [data-nav-show] & {
    --ico-rotate-0: 180deg;
    --ico-rotate: 45deg;
    --ico-rotate-1: -45deg;
    --ico-y: #{icon.$y};
    --ico-y-1: #{icon.$y * -1};
    --ico-op: 0;
  }
}
