/**
 * Components - Navigation Icon Three Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "./NavigationIcon" as icon;

/* Class name customization */

$component-fix: fix.get-class-prefix("component");

/* Styles */

[data-nav-icon="3"] {
  --#{con.$n}duration: 225ms;
  --ico-rotate: 0deg;
  --ico-rotate-1: 0deg;
  --ico-y: 0;
  --ico-y-1: 0;
  --ico-op: 1;

  transform: rotate(var(--ico-rotate));

  .#{$component-fix}nav-icon-top {
    transform: translateY(var(--ico-y));
  }

  .#{$component-fix}nav-icon-bottom {
    transform: translateY(var(--ico-y-1)) rotate(var(--ico-rotate-1));
  }

  .#{$component-fix}nav-icon-middle {
    opacity: var(--ico-op);
  }

  [show] & {
    --ico-rotate: 45deg;
    --ico-rotate-1: 90deg;
    --ico-y: #{icon.$y};
    --ico-y-1: #{icon.$y * -1};
    --ico-op: 0;
  }
}
