/**
 * Layouts - Table Styles
 */

/* Imports */

@use "../../utils/fix/fix";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");

/* Styles */

.#{$layout-fix}table {
  display: table;
}

.#{$layout-fix}table-row {
  display: table-row;
}

.#{$layout-fix}table-cell {
  display: table-cell;
  vertical-align: middle;
}
