/**
 * Text - Color Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$text-fix: fix.get-class-prefix("text");

/* Styles */

@each $c in con.$text-colors {
  .#{$text-fix}#{$c} {
    color: var(--#{con.$n}#{$c});
  }
}
