/**
 * Effects - Page Transition Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$effect-fix: fix.get-class-prefix("effect");
$transition-fix: fix.get-class-fix("transition");

/* Styles */

.#{$effect-fix}page-#{$transition-fix} {
  --pg-vis: hidden;
  --pg-op: 0;
  --pg-prop: #{con.$page-transition-prop};
  --pg-duration: #{con.$page-transition-duration};
  --pg-easing: #{con.$page-transition-easing};
  --pg-delay: #{con.$page-transition-delay};

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: map.get(con.$z-index, "page-transition");
  transition: var(--pg-prop) var(--pg-duration) var(--pg-easing) var(--pg-delay);
  visibility: var(--pg-vis);
  opacity: var(--pg-op);

  [data-page-#{$transition-fix}-show] & {
    --pg-delay: #{con.$page-transition-delay-show};
    --pg-vis: visible;
    --pg-op: 1;
  }
}
