
/*
 * Variables
 * ---------
 */

/* Colors  */

$g-colors: () !default;

/* Fonts */

$g-fonts: () !default;

/* Breakpoints */

$g-breakpoints: () !default;

/* Layout containers and padding */

$g-containers: () !default;
$g-containerPadding: 25px !default;

/* Grid system */

$g-grid: () !default;

/* Utility properties */

$g-props: () !default;

/* Rem/em context */

$g-context: 16px !default;

/* Aspect ratio padding */

$g-aspectRatioPadding: () !default;

/* Transitions */

$g-transitions: () !default;

/* Z index */

$g-zIndex: () !default;

/* Nav */

$g-nav: (
	icon: (
		width: 35px,
		lineWidth: 2px,
		margin: 8px
	)
) !default;
