
/*
 * Variables
 * ---------
 */

/* Colors  */

$colors: () !default;

/* Fonts */

$fonts: () !default;

/* Breakpoints */

$breakpoints: () !default;

/* Layout containers and padding */

$containers: () !default;
$containerPadding: 25px !default;

/* Grid system */

$grid: () !default;
$gridOverwrite: false !default;

/* Utility properties */

$props: [] !default;

/* Rem/em context */

$context: 16px !default;
$contextEm: 16px !default;

/* Aspect ratio padding */

$aspectRatioPadding: () !default;

/* Transitions */

$transitions: () !default;

/* Z index */

$zIndex: () !default;

/* Nav */

$nav: (
	icon: (
		width: 35px,
		lineWidth: 2px,
		margin: 8px
	)
) !default;

/* Loader */

$loaderSelector: '.o-loader' !default;

/* Table */

$tableSelector: '.o-table' !default;

/* Table Scroll */

$tableScrollSelector: '.o-table-scroll' !default;
