/**
 * Layouts - Margin Styles
 */

/* Imports */

@use "sass:list";
@use "sass:string";
@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$margin-fix: fix.get-class-fix("margin");
$margin-top-fix: fix.get-class-fix("margin-top");
$margin-bottom-fix: fix.get-class-fix("margin-bottom");
$margin-y-fix: fix.get-class-fix("margin-y");
$margin-left-fix: fix.get-class-fix("margin-left");
$margin-right-fix: fix.get-class-fix("margin-right");
$margin-x-fix: fix.get-class-fix("margin-x");

/* Defaults */

.l-#{$margin-fix}-0 {
  margin: 0;
}

.l-#{$margin-fix}-auto {
  margin: auto;
}

.l-#{$margin-top-fix}-auto {
  margin-top: auto;
}

.l-#{$margin-left-fix}-auto {
  margin-left: auto;
}

.l-#{$margin-right-fix}-auto {
  margin-right: auto;
}

.l-#{$margin-bottom-fix}-auto {
  margin-bottom: auto;
}

/* Config margins */

@each $m in con.$margin-top {
  $selector: ".l-#{$margin-top-fix}-#{$m}";

  @if con.$xy {
    $selector: "#{$selector}, .l-#{$margin-y-fix}-#{$m}";
  }

  #{string.quote($selector)} {
    margin-top: var(--#{$m});
  }
}

@each $m in con.$margin-bottom {
  $selector: ".l-#{$margin-bottom-fix}-#{$m}";

  @if list.index(con.$margin-bottom-all, $m) {
    $selector: "#{$selector}, #{$selector}-all > :not(:last-child)";
  }

  @if con.$xy {
    $selector: "#{$selector}, .l-#{$margin-y-fix}-#{$m}";
  }

  #{string.unquote($selector)} {
    margin-bottom: var(--#{$m});
  }
}

@each $b in con.$margin-vertical-breakpoints {
  @include breakpoints.breakpoint-min($b) {
    @each $m in con.$margin-top {
      $selector: ".l-#{$margin-top-fix}-#{$m}-#{$b}";
    
      @if con.$xy {
        $selector: "#{$selector}, .l-#{$margin-y-fix}-#{$m}-#{$b}";
      }
    
      #{string.quote($selector)} {
        margin-top: var(--#{$m});
      }
    }

    @each $m in con.$margin-bottom {
      $selector: ".l-#{$margin-bottom-fix}-#{$m}";
    
      @if list.index(con.$margin-bottom-all, $m) {
        $selector: "#{$selector}-#{$b}, #{$selector}-all-#{$b} > :not(:last-child)";
      }

      @if con.$xy {
        $selector: "#{$selector}, .l-#{$margin-y-fix}-#{$m}-#{$b}";
      }
    
      #{string.unquote($selector)} {
        margin-bottom: var(--#{$m});
      }
    }
  }
}

@each $m in con.$margin-left {
  $selector: ".l-#{$margin-left-fix}-#{$m}";

  @if con.$xy {
    $selector: "#{$selector}, .l-#{$margin-x-fix}-#{$m}";
  }

  #{string.quote($selector)} {
    margin-left: var(--#{$m});
  }
}

@each $m in con.$margin-right {
  $selector: ".l-#{$margin-right-fix}-#{$m}";

  @if con.$xy {
    $selector: "#{$selector}, .l-#{$margin-x-fix}-#{$m}";
  }

  #{string.quote($selector)} {
    margin-right: var(--#{$m});
  }
}

@each $b in con.$margin-horizontal-breakpoints {
  @include breakpoints.breakpoint-min($b) {
    @each $m in con.$margin-left {
      $selector: ".l-#{$margin-left-fix}-#{$m}-#{$b}";
    
      @if con.$xy {
        $selector: "#{$selector}, .l-#{$margin-x-fix}-#{$m}-#{$b}";
      }
    
      #{string.quote($selector)} {
        margin-left: var(--#{$m});
      }
    }

    @each $m in con.$margin-right {
      $selector: ".l-#{$margin-right-fix}-#{$m}-#{$b}";
    
      @if con.$xy {
        $selector: "#{$selector}, .l-#{$margin-x-fix}-#{$m}-#{$b}";
      }
    
      #{string.quote($selector)} {
        margin-right: var(--#{$m});
      }
    }
  }
}

/* Defaults */

.l-#{$margin-fix}-last-0 > :last-child {
  margin: 0;
}
