/**
 * Layouts - Aspect Ratio Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;

/* Class name customization */

$aspect-ratio-fix: fix.get-class-fix("aspect-ratio");

/* Styles */

%l-aspect-ratio {
  &::before {
    content: "";
    display: block;
    padding-top: var(--aspect-ratio-padding);
  }
}

@each $p, $v in con.$aspect-ratio-padding {
  .l-#{$aspect-ratio-fix}-#{$p} {
    --aspect-ratio-padding: #{$v};

    @extend %l-aspect-ratio;
  }
}
