/**
 * Layouts - Aspect Ratio Styles
 */

/* Imports */

@use "../../config/config" as con;

/* Class name infix */

$aspect-ratio-infix: "aspect-ratio";

@if con.$terse {
  $aspect-ratio-infix: "ar";
}

/* Styles */

%l-aspect-ratio {
  &::before {
    content: "";
    display: block;
    padding-top: var(--aspect-ratio-padding);
  }
}

@each $p, $v in con.$aspect-ratio-padding {
  .l-#{$aspect-ratio-infix}-#{$p} {
    @extend %l-aspect-ratio;

    --aspect-ratio-padding: #{$v};
  }
}
