/**
 * Layouts - Aspect Ratio Padding Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");
$aspect-ratio-fix: fix.get-class-fix("aspect-ratio");

/* Styles */

%l-aspect-ratio-padding {
  &::before {
    content: "";
    display: block;
    padding-top: var(--#{con.$n}aspect-ratio-padding);
  }
}

@each $p, $v in con.$aspect-ratio-padding {
  .#{$layout-fix}#{$aspect-ratio-fix}-#{$p} {
    --#{con.$n}aspect-ratio-padding: #{$v};

    @extend %l-aspect-ratio-padding;
  }
}
