
/* Dependencies */

@use '../../config' as frm;

/* 
 * Min media query
 * ---------------
 *
 * @param [string/number] $min
 */

@mixin breakpointMin( $min ) { 
	@if map-has-key( frm.$breakpoints, $min ) {
		$bk-rem: calcRem( map-get( frm.$breakpoints, $min ) );

		@media only screen and ( min-width: #{ $bk-rem } ) {
			@content;
		}
	} @else {
		@warn "#{$min} does not exist in breakpoints map.";
	}
}

/* 
 * Max media query
 * ---------------
 *
 * @param [string/number] $max
 */

@mixin breakpointMax( $max ) {
	@if map-has-key( frm.$breakpoints, $max ) {
		$bk-rem: calcRem( map-get( frm.$breakpoints, $max ) );

		@media only screen and ( max-width: #{ $bk-rem } ) {
			@content;
		}
	} @else {
		@warn "#{$max} does not exist in breakpoints map.";
	}
}

/* 
 * Min/max media query
 * -------------------
 *
 * @param [string/number] $min
 * @param [string/number] $max
 */

@mixin breakpointMinMax( $min, $max ) { 
	@if map-has-key( frm.$breakpoints, $min ) and map-has-key( frm.$breakpoints, $max ) {
		$bk-min-rem: calcRem( map-get( frm.$breakpoints, $min ) );
		$bk-max-rem: calcRem( map-get( frm.$breakpoints, $max ) );

		@media only screen and ( max-width: #{ $bk-max-rem } ) and ( min-width: #{ $bk-min-rem } ) {
			@content;
		}
	} @else {
		@warn "#{$min} and/or #{$max} does not exist in breakpoints map.";
	}
}
