
/*
 * Fluid sizes ( font-size, padding, margins... )
 * ---------------------------------------------
 *
 * @param [number] $minVW
 * @param [number] $maxVW
 * @param [number] $minSize
 * @param [number] $maxSize
 */

@mixin fluidSize( $prop, $sizes, $widths, $important: false, $otherValues: null ) {
    $lastIndex: length( $sizes );

    @each $s in $sizes {
        $i: index( $sizes, $s );
        $w: nth( $widths, $i );
        $o: null;
        $m: null;

        @if type-of( $otherValues ) == 'list' {
            $o: nth( $widths, $i );
        }

        @if $important {
            $m: #{'!important'};
        }

        @if $i == 1 {
            #{$prop}: $s $o $m;
        }

        @if $i == $lastIndex {
            @include breakpointMin( stripUnit( $w ) ) {
                #{$prop}: $s $o $m;
            }
        } @else {
            $nextS: nth( $sizes, $i + 1 );
            $nextW: nth( $widths, $i + 1 );

            @include breakpointMin( stripUnit( $w ) ) {
                #{$prop}: calc( #{$s} + #{ stripUnit( $nextS - $s ) } * ( ( 100vw - #{$w} ) / #{ stripUnit( $nextW - $w ) } ) ) $o $m;
            }
        }
    }
}
