
/*
 * Imports
 * -------
 */

@use 'sass:list';

/*
 * Gradient
 * --------
 *
 * @param [string] $direction
 * @param [boolean] $image
 * @param [list] of maps $colorStops
 */

@mixin linearGradient( $direction: to left, $image: false, $colorStops... ) {
  @if $image {
    background-image: list.nth( list.nth( $colorStops, 1 ), 1 );
    background-image: -moz-linear-gradient( $direction, $colorStops );
    background-image: -webkit-linear-gradient( $direction, $colorStops );
    background-image: -o-linear-gradient( $direction, $colorStops );
    background-image: linear-gradient( $direction, $colorStops );
  } @else {
    background: list.nth( list.nth( $colorStops, 1 ), 1 );
    background: -moz-linear-gradient( $direction, $colorStops );
    background: -webkit-linear-gradient( $direction, $colorStops );
    background: -o-linear-gradient( $direction, $colorStops );
    background: linear-gradient( $direction, $colorStops );
  }
}
