/**
 * Utility mixins: gradient
 */

/* Imports */

@use "sass:list";

/**
 * Mixin
 *
 * @param [string] $direction
 * @param [boolean] $image
 * @param [list] of maps $color-stops
 */

@mixin linear-gradient($direction: to left, $image: false, $color-stops...) {
  @if $image {
    background-image: list.nth(list.nth($color-stops, 1), 1);
    background-image: linear-gradient($direction, $color-stops);
    background-image: linear-gradient($direction, $color-stops);
    background-image: linear-gradient($direction, $color-stops);
    background-image: linear-gradient($direction, $color-stops);
  } @else {
    background: list.nth(list.nth($color-stops, 1), 1);
    background: linear-gradient($direction, $color-stops);
    background: linear-gradient($direction, $color-stops);
    background: linear-gradient($direction, $color-stops);
    background: linear-gradient($direction, $color-stops);
  }
}
