
/* 
 * Output fallback for page loader
 * -------------------------------
 *
 * @param [string] $selectors
 */

@mixin pageLoaderFallback( $delay: 2500ms, $selectors: '#js-page-loader, #js-page-transition' ) {
  #{ $selectors } {
    .no-js & {
      animation-name: _aPageLoaderFadeOut;
      animation-duration: 1000ms;
      animation-delay: $delay;
      animation-fill-mode: forwards;
    }
  }

  @keyframes _aPageLoaderFadeOut {
    0% { 
      opacity: 1; 
    }

    25% { 
      opacity: 1; 
    }

    50% { 
      opacity: 1; 
    }

    75% { 
      opacity: 1; 
    }
    
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
}
