/**
 * Utils - page loader fallback
 */

/**
 * Mixin - no js fade out page loader
 *
 * @param {number} $delay
 * @param {number} $duration
 * @param {string} $selectors
 * @return {void}
 */

@mixin page-loader-fallback($delay: 1000ms, $duration: 500ms, $selectors: "#js-page-loader, #js-page-transition") {
  #{$selectors} {
    .no-js & {
      animation-name: a-page-loader-fade-out;
      animation-duration: $duration;
      animation-delay: $delay;
      animation-fill-mode: forwards;
    }
  }

  @keyframes a-page-loader-fade-out {
    0% {
      opacity: 1;
    }

    25% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      z-index: -1;
    }
  }
}
