/**
 * Layouts - Column Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$column-fix: fix.get-class-fix("column");
$columns-fix: fix.get-class-fix("columns");

/* Width type */

%l-width-column {
  --col-width: ((var(--column) / var(--columns)) * 100%) - var(--gap) + (var(--gap) / (var(--columns) / var(--column)));

  width: calc(var(--col-width));
}

@if con.$columns-type == "width" {
  @for $i from 1 through con.$columns {
    .l-#{$column-fix}-#{$i} {
      --column: #{$i};

      @extend %l-width-column;
    }
  }
}

/* Grid type */

%l-grid-column {
  grid-column: var(--column-start, auto) / span var(--column);
}

%l-grid-columns {
  grid-template-columns: repeat(var(--columns), minmax(var(--columns-min, 0), 1fr));
}

@if con.$columns-type == "grid" {
  .l-#{$columns-fix} {
    --columns: #{con.$columns-grid};

    @extend %l-grid-columns;
  }

  @each $b in con.$columns-breakpoints {
    .l-#{$columns-fix}-#{b} {
      --columns: 1;

      @extend %l-grid-columns;
      @include breakpoints.breakpoint-batch-add($b, (
        --columns: #{con.$columns-grid}
      ));
    }
  }

  @for $i from 1 through con.$columns {
    .l-#{$column-fix}-start-#{$i} {
      --column-start: #{$i + 1};
    }

    .l-#{$column-fix}-#{$i} {
      --column: #{$i};

      @extend %l-grid-column;
    }
  }
}

/* Breakpoints */

@each $b in con.$columns-breakpoints {
  @for $i from 1 through con.$columns {
    @if con.$columns-type == "grid" {
      .l-#{$column-fix}-start-#{$i}-#{$b} {
        --column-start: #{$i + 1};
      }
    }

    .l-#{$column-fix}-#{$i}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        --column: #{$i}
      ));
    }
  }
}
