/**
 * Layouts - Column Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$column-fix: fix.get-class-fix("column");
$columns-fix: fix.get-class-fix("columns");

/* Width type */

%l-width-column {
  --#{con.$v}col-width:
    ((var(--#{con.$v}column) / var(--#{con.$v}columns)) * 100%) - var(--#{con.$v}gap) + (var(--#{con.$v}gap) / (var(--#{con.$v}columns) / var(--#{con.$v}column)));

  width: calc(var(--#{con.$v}col-width));
}

@if con.$columns-type == "width" {
  @for $i from 1 through con.$columns {
    .l-#{$column-fix}-#{$i} {
      --#{con.$v}column: #{$i};

      @extend %l-width-column;
    }
  }
}

/* Grid type */

%l-grid-column {
  grid-column: var(--#{con.$v}column-start, auto) / span var(--#{con.$v}column);
}

%l-grid-columns {
  grid-template-columns: repeat(var(--#{con.$v}columns), minmax(var(--#{con.$v}columns-min, 0), 1fr));
}

@if con.$columns-type == "grid" {
  .l-#{$columns-fix} {
    --#{con.$v}columns: #{con.$columns-grid};

    @extend %l-grid-columns;
  }

  @each $b in con.$columns-breakpoints {
    .l-#{$columns-fix}-#{b} {
      --#{con.$v}columns: 1;

      @extend %l-grid-columns;
      @include breakpoints.breakpoint-batch-add($b, (
        --#{con.$v}columns: #{con.$columns-grid}
      ));
    }
  }

  @for $i from 1 through con.$columns {
    .l-#{$column-fix}-start-#{$i} {
      --#{con.$v}column-start: #{$i + 1};
    }

    .l-#{$column-fix}-#{$i} {
      --#{con.$v}column: #{$i};

      @extend %l-grid-column;
    }
  }
}

/* Breakpoints */

@each $b in con.$columns-breakpoints {
  @for $i from 1 through con.$columns {
    @if con.$columns-type == "grid" {
      .l-#{$column-fix}-start-#{$i}-#{$b} {
        --#{con.$v}column-start: #{$i + 1};
      }
    }

    .l-#{$column-fix}-#{$i}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        --#{con.$v}column: #{$i}
      ));
    }
  }
}
