/**
 * Layouts - Gap Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;
@use "../../utils/breakpoints/breakpoints";

/* Class name customization */

$gap-fix: fix.get-class-fix("gap");

/* Styles */

%l-gap {
  gap: var(--gap);
}

@each $g in con.$gaps {
  .l-#{$gap-fix}-#{$g} {
    --gap: var(--#{$g});

    @extend %l-gap;
  }
}

@each $b in con.$gap-breakpoints {
  @each $g in con.$gaps {
    .l-#{$gap-fix}-#{$g}-#{$b} {
      @include breakpoints.breakpoint-batch-add($b, (
        --gap: var(--#{$g})
      ));
    }
  }
}
