/**
 * Components: skip link
 */

/* Imports */

@use "sass:map";
@use "../config" as con;

/* Styles */

.c-skip-link {
  @extend %u-opacity-0;

  z-index: map.get(con.$z-index, "skip-link");
  transform: translateY(-100%);

  &:focus {
    @extend %u-opacity-1;

    transform: translateY(0);
  }
}
