
/*
 * Aspect ratio
 * ------------
 */

/* Dependencies */

@import 'mixins';

.o-aspect-ratio {
	@extend %u-position-relative;
	@extend %u-overflow-hidden;
	padding-top: 100%;
	@include _aspectRatioPadding();
	&.--circle {
		@extend %u-border-radius-100;
		-webkit-mask-image: -webkit-radial-gradient( white, black );
	}
}

.o-aspect-ratio__media {
	@extend %u-position-absolute;
	@extend %u-top-0;
	@extend %u-left-0;
	@extend %u-right-0;
	@extend %u-width-100;
	@extend %u-height-100;
	object-fit: cover;
}

.o-aspect-ratio__video {
	@extend %u-position-absolute;
	top: 50%;
	left: 50%;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	transform: translateX( -50% ) translateY( -50% );
	max-width: none;
}
