/**
 * Objects: modal
 */

/* Imports */

@use "sass:map";
@use "../../config" as con;
@use "../../utils/functions" as func;

/* Styles */

.o-modal {
  --prop: visibility;
  --duration: 0ms;
  --delay: #{map.get(con.$transitions, "default", "duration")};

  @extend %u-visibility-hidden;

  z-index: map.get(con.$z-index, "modal");

  &[aria-hidden="false"] {
    --delay: 0ms;

    @extend %u-visibility-visible;
  }
}

.o-modal__overlay {
  @extend %u-opacity-0;

  .o-modal[aria-hidden="false"] & {
    --delay: 10ms;

    @extend %u-opacity-1;
  }
}

.o-modal__main {
  @extend %u-opacity-0;
  @extend %u-transform-origin-0-0;

  .o-modal[aria-hidden="false"] & {
    @extend %u-opacity-1;
  }
}

.o-modal__content {
  @extend %u-overflow-y-auto;
  @extend %u-overflow-x-hidden;
}
