/**
 * Objects modal
 */

/* Imports */

@use "sass:map";
@use "../../config" as con;
@use "../../utils/functions" as func;

/* Styles */

.o-modal {
  @extend %u-position-fixed;
  @extend %u-top-0;
  @extend %u-left-0;
  @extend %u-visibility-hidden;

  z-index: map.get(con.$z-index, "modal");
  transition: visibility 0ms #{con.$def-timing-function} #{con.$def-duration};

  &[data-center] {
    @extend %u-display-flex;

    align-items: center;
    height: 100%;
  }

  &[aria-hidden="false"] {
    @extend %u-visibility-visible;

    transition: visibility 0ms #{con.$def-timing-function};
  }
}

.o-modal__overlay {
  @extend %u-position-fixed;
  @extend %u-top-0;
  @extend %u-left-0;
  @extend %u-right-0;
  @extend %u-bottom-0;
  @extend %u-opacity-0;

  transition: opacity #{con.$def-duration} #{con.$def-timing-function};

  .o-modal[aria-hidden="false"] & {
    @extend %u-opacity-1;

    transition: opacity #{con.$def-duration} #{con.$def-timing-function} 10ms;
  }
}

.o-modal__main {
  @extend %u-position-fixed;
  @extend %u-top-0;
  @extend %u-right-0;
  @extend %u-left-0;
  @extend %u-transform-origin-0-0;
  @extend %u-opacity-0;
  @extend %u-margin-auto;

  .o-modal[aria-hidden="false"] & {
    @extend %u-opacity-1;
  }
}

.o-modal__content {
  @extend %u-overflow-y-auto;
  @extend %u-overflow-x-hidden;
}

.o-modal__fade {
  @extend %u-opacity-0;
  @extend %u-transition-opacity-ease;

  .o-modal[data-window-open] & {
    @extend %u-opacity-1;
  }
}

.o-modal__close {
  @extend %u-position-absolute;
  @extend %u-top-0;
  @extend %u-right-0;

  height: func.calc-rem(50px);
  width: func.calc-rem(50px);
}
