
/*
 * Modal
 * -----
 */

.o-modal {
	@extend %u-position-fixed;
	@extend %u-top-0;
	@extend %u-left-0;
	@extend %u-visibility-hidden;
	z-index: map-get( $g-zIndex, 'modal' );
	transition: visibility 0ms #{$g-defTimingFunction} #{$g-defDuration};
	&[data-center="true"] {
		@extend %u-display-flex;
		align-items: center;
		height: 100%;
	}
	&[aria-hidden="false"] {
		transition: visibility 0ms #{$g-defTimingFunction};
		@extend %u-visibility-visible;
	}
}

.o-modal__overlay {
	@extend %u-position-fixed;
	@extend %u-top-0;
	@extend %u-left-0;
	@extend %u-right-0;
	@extend %u-bottom-0;
	@extend %u-opacity-0;
	transition: opacity #{$g-defDuration} #{$g-defTimingFunction};
	.o-modal[aria-hidden="false"] & {
		@extend %u-opacity-1;
		transition: opacity #{$g-defDuration} #{$g-defTimingFunction} 10ms;
	}
}

.o-modal__window {
	@extend %u-position-fixed;
	@extend %u-top-0;
	@extend %u-right-0;
	@extend %u-left-0;
	@extend %u-transform-origin-0-0;
	@extend %u-opacity-0;
	@extend %u-margin-auto;
    .o-modal[aria-hidden="false"] & {
    	@extend %u-opacity-1;
    }
}

.o-modal__content {
	@extend %u-overflow-y-auto;
	@extend %u-overflow-x-hidden;
}

.o-modal__fade {
	@extend %u-opacity-0;
	@extend %u-transition-opacity-ease;
	.o-modal[data-window-open="true"] & {
		@extend %u-opacity-1;
	}
}

.o-modal__close {
	@extend %u-position-absolute;
	@extend %u-top-0;
	@extend %u-right-0;
	height: 50px;
	width: 50px;
}
