
/*
 * Modal
 * -----
 */

.o-modal {
	&.--open {
		z-index: map-get( $g-zIndex, 'modal' );
	}
}

.o-modal__overlay {
	@extend %u-position-fixed;
	@extend %u-top-0;
	@extend %u-left-0;
	@extend %u-right-0;
	@extend %u-bottom-0;
	@extend %u-opacity-0;
	@extend %u-visibility-hidden;
	transition: opacity #{$g-defDuration} #{$g-defTimingFunction}, visibility 0ms #{$g-defTimingFunction} #{$g-defDuration};
	.--open & {
		@extend %u-opacity-1;
		@extend %u-visibility-visible;
		transition: opacity #{$g-defDuration} #{$g-defTimingFunction} 10ms, visibility 0ms #{$g-defTimingFunction};
	}
}

.o-modal__window {
	@extend %u-position-fixed;
	@extend %u-top-0;
	@extend %u-right-0;
	@extend %u-left-0;
	@extend %u-transform-origin-0-0;
	@extend %u-opacity-0;
	@extend %u-margin-auto;
	&.--center {
    	@extend %u-position-vertical-center;
    }
    z-index: -1;
    .--open & {
    	@extend %u-opacity-1;
    	z-index: 5;
    }
}

.o-modal__content {
	@extend %u-position-relative;
	@extend %u-overflow-y-auto;
	@extend %u-overflow-x-hidden;
}

.o-modal__fade {
	@extend %u-opacity-0;
	@extend %u-transition-opacity-ease;
	.--w-open & {
		@extend %u-opacity-1;
	}
}

.o-modal__close {
	@extend %u-position-absolute;
	@extend %u-top-0;
	@extend %u-right-0;
	height: 50px;
	width: 50px;
}
