/**
 * Objects - Modal Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$object-fix: fix.get-class-prefix("object");

/* Styles */

.#{$object-fix}modal {
  --#{con.$n}prop: #{con.$modal-prop};
  --#{con.$n}duration: #{con.$modal-duration};
  --#{con.$n}delay: #{con.$modal-delay};
  --mod-vis: hidden;

  z-index: map.get(con.$z-index, "modal");
  visibility: var(--mod-vis);

  &[data-modal-open="true"] {
    --#{con.$n}delay: #{con.$modal-delay-open};
    --mod-vis: visible;
  }
}

.#{$object-fix}modal-overlay,
.#{$object-fix}modal-window {
  --#{con.$n}prop: #{con.$modal-overlay-window-prop};
  --#{con.$n}duration: #{con.$modal-overlay-window-duration};
  --#{con.$n}delay: #{con.$modal-overlay-window-delay};
  --mod-op: 0;

  opacity: var(--mod-op);

  [data-modal-open="true"] & {
    --#{con.$n}delay: #{con.$modal-overlay-window-delay-open};
    --mod-op: 1;
  }
}
