/**
 * Objects - Modal Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;

/* Styles */

.o-modal {
  --#{con.$v}prop: #{con.$modal-prop};
  --#{con.$v}duration: #{con.$modal-duration};
  --#{con.$v}delay: #{con.$modal-delay};
  --visibility: hidden;

  z-index: map.get(con.$z-index, "modal");
  visibility: var(--visibility);

  &[data-modal-open="true"] {
    --#{con.$v}delay: #{con.$modal-delay-open};
    --visibility: visible;
  }
}

.o-modal__overlay,
.o-modal__window {
  --#{con.$v}prop: #{con.$modal-overlay-window-prop};
  --#{con.$v}duration: #{con.$modal-overlay-window-duration};
  --#{con.$v}delay: #{con.$modal-overlay-window-delay};
  --opacity: 0;

  opacity: var(--opacity);

  [data-modal-open="true"] & {
    --#{con.$v}delay: #{con.$modal-overlay-window-delay-open};
    --opacity: 1;
  }
}
