/**
 * A11y
 */

/* Imports */

@use "../config";

/* Styles */

.a11y-visually-hidden {
  @extend %u-visually-hidden;
}

.a11y-hide-input {
  position: absolute;
  opacity: 0;
  width: 1em;
  height: 1em;
}
