/**
 * Layouts - Overflow Styles
 */

/* Imports */

@use "../../utils/fix/fix";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");
$overflow-fix: fix.get-class-fix("overflow");
$overscroll-fix: fix.get-class-fix("overscroll");

/* Styles */

.#{$layout-fix}#{$overflow-fix}-hidden {
  overflow: hidden;
}

.#{$layout-fix}#{$overflow-fix}-x-hidden {
  overflow-x: hidden;
}

.#{$layout-fix}#{$overflow-fix}-y-hidden {
  overflow-y: hidden;
}

.#{$layout-fix}#{$overflow-fix}-y-auto {
  overflow-y: auto;
}

.#{$layout-fix}#{$overflow-fix}-x-auto {
  overflow-x: auto;
}

.#{$layout-fix}#{$overscroll-fix}-none {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}
