/**
 * Layouts - Align Styles
 */

/* Imports */

@use "../../utils/fix/fix";
@use "../../utils/breakpoint/breakpoint";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");
$align-fix: fix.get-class-fix("align");

/* Styles */

.#{$layout-fix}#{$align-fix}-center {
  align-items: center;
}

.#{$layout-fix}#{$align-fix}-start {
  align-items: flex-start;
}

.#{$layout-fix}#{$align-fix}-end {
  align-items: flex-end;
}
