/**
 * Borders
 */

/* Imports */

@use "sass:map";
@use "../config" as con;

/* Sides */

$sides: map.get(con.$borders, "sides");

@each $s in $sides {
  .b-#{$s} {
    @if $s == "all" {
      border: var(--border-width) solid var(--border-color);
    } @else if $s == "left" {
      border-left: var(--border-width) solid var(--border-color);
    } @else if $s == "right" {
      border-right: var(--border-width) solid var(--border-color);
    } @else if $s == "top" {
      border-top: var(--border-width) solid var(--border-color);
    } @else if $s == "bottom" {
      border-bottom: var(--border-width) solid var(--border-color);
    }
  }
}

/* Colors */

$colors: map.get(con.$borders, "colors");

@each $c, $v in $colors {
  @if $c != "default" {
    .b-#{$c} {
      --border-color: #{$v};
    }
  }
}

/* Widths */

$widths: map.get(con.$borders, "widths");

@each $w, $v in $widths {
  @if $w != "default" {
    .b-width-#{$w} {
      --border-width: #{$v};
    }
  }
}
