/**
 * Layouts - Object Fit Styles
 */

/* Imports */

@use "../../utils/getClassFix/getClassFix" as fix;

/* Class name customization */

$object-fix: fix.get-class-fix("object");

/* Styles */

.l-#{$object-fix}-contain {
  object-fit: contain;
}

.l-#{$object-fix}-cover {
  object-fit: cover;
}
