/**
 * Base - Root Styles
 */

/* Imports */

@use "sass:map";
@use "sass:string";
@use "../../config/config" as con;
@use "../../utils/calcRem/calcRem" as calc;

/**
 * Set root variables
 *
 * @return {void}
 */
@mixin set-root() {
  $props: ();

  @each $r in con.$root {
    @if $r == "colors" {
      @each $c, $v in con.$colors-flat {
        @if con.$colors-type == "rgb" {
          --#{$c}-rgb: #{$v};
          --#{$c}: #{rgb(var(--#{$c}-rgb))};
        } @else if con.$colors-type == "hsl" {
          --#{$c}-hsl: #{$v};
          --#{$c}: #{hsl(var(--#{$c}-hsl))};
        } @else if con.$colors-type == "rgba" {
          --#{$c}-rgb: #{$v};
          --#{$c}: #{rgba(var(--#{$c}-rgb), 1)};
        } @else if con.$colors-type == "hsla" {
          --#{$c}-hsl: #{$v};
          --#{$c}: #{hsla(var(--#{$c}-hsl), 1)};
        } @else {
          --#{$c}: #{$v};
        }
      }
    } @else if $r == "fonts" {
      @each $f, $v in con.$fonts {
        --font-#{$f}: #{$v};
      }
    } @else if $r == "font-weights" {
      @each $f, $v in con.$font-weights {
        --font-weight-#{$f}: #{$v};
      }
    } @else if $r == "letter-spacing" {
      @each $l, $v in con.$letter-spacing {
        --letter-spacing-#{$l}: #{$v};
      }
    } @else if $r == "line-heights" {
      @each $l, $v in con.$line-heights {
        --line-height-#{$l}: #{$v};
      }
    } @else if $r == "spacing" {
      @each $s, $v in con.$spacing {
        --#{$s}: #{calc.calc-rem($v)};
      }
    } @else if $r == "gap" {
      --gap: 0rem;
      --gap-margin: 0rem;
    } @else if $r == "containers" {
      @each $c, $v in con.$containers {
        $suffix: "";

        @if $c != "default" {
          $suffix: "-#{$c}";
        }

        --container#{$suffix}: #{calc.calc-rem($v)};
        --container#{$suffix}-no-padding: #{calc.calc-rem($v - (con.$container-padding * 2))};
      }
    } @else if $r == "container-padding" {
      --container-padding: #{calc.calc-rem(con.$container-padding)};
    } @else if $r == "aspect-ratio-padding" {
      --aspect-ratio-padding: 100%;
    } @else if $r == "transitions" {
      --prop: #{con.$default-prop};
      --duration: #{con.$default-duration};
      --easing: #{con.$default-easing};
      --delay: #{con.$default-delay};
    } @else if $r == "outline" {
      $default-color: map.get(con.$outline, "colors", "default");

      --outline-width: #{map.get(con.$outline, "widths", "default")};
      --outline-color: #{$default-color};
      --outline-offset: #{map.get(con.$outline, "offsets", "default")};
    } @else if $r == "borders" {
      $default-color: map.get(con.$borders, "colors", "default");

      --border-color: #{$default-color};
      --border-width: #{map.get(con.$borders, "widths", "default")};
    } @else if $r == "border-radius" {
      @each $b, $v in con.$border-radius {
        --border-radius-#{$b}: #{$v};
      }
    }
  }
}
