/**
 * Base - Root Styles
 */

/* Imports */

@use "sass:map";
@use "sass:string";
@use "../../config/config" as con;
@use "../../utils/calcRem/calcRem" as calc;

/**
 * Set root variables
 *
 * @return {void}
 */
@mixin set-root() {
  $props: ();

  @each $r in con.$root {
    @if $r == "colors" {
      @each $c, $v in con.$colors-flat {
        @if con.$colors-type == "rgb" {
          --#{con.$v}#{$c}-rgb: #{$v};
          --#{con.$v}#{$c}: #{rgb(var(--#{con.$v}#{$c}-rgb))};
        } @else if con.$colors-type == "hsl" {
          --#{con.$v}#{$c}-hsl: #{$v};
          --#{con.$v}#{$c}: #{hsl(var(--#{con.$v}#{$c}-hsl))};
        } @else if con.$colors-type == "rgba" {
          --#{con.$v}#{$c}-rgb: #{$v};
          --#{con.$v}#{$c}: #{rgba(var(--#{con.$v}#{$c}-rgb), 1)};
        } @else if con.$colors-type == "hsla" {
          --#{con.$v}#{$c}-hsl: #{$v};
          --#{con.$v}#{$c}: #{hsla(var(--#{con.$v}#{$c}-hsl), 1)};
        } @else {
          --#{con.$v}#{$c}: #{$v};
        }
      }
    } @else if $r == "fonts" {
      @each $f, $v in con.$fonts {
        --#{con.$v}font-#{$f}: #{$v};
      }
    } @else if $r == "font-weights" {
      @each $f, $v in con.$font-weights {
        --#{con.$v}font-weight-#{$f}: #{$v};
      }
    } @else if $r == "letter-spacing" {
      @each $l, $v in con.$letter-spacing {
        --#{con.$v}letter-spacing-#{$l}: #{$v};
      }
    } @else if $r == "line-heights" {
      @each $l, $v in con.$line-heights {
        --#{con.$v}line-height-#{$l}: #{$v};
      }
    } @else if $r == "spacing" {
      @each $s, $v in con.$spacing {
        --#{con.$v}#{$s}: #{calc.calc-rem($v)};
      }
    } @else if $r == "gap" {
      --#{con.$v}gap: 0rem;
      --#{con.$v}gap-margin: 0rem;
    } @else if $r == "columns" {
      --#{con.$v}columns: #{con.$columns};
    } @else if $r == "containers" {
      @each $c, $v in con.$containers {
        $suffix: "";

        @if $c != "default" {
          $suffix: "-#{$c}";
        }

        --#{con.$v}container#{$suffix}: #{calc.calc-rem($v)};
        --#{con.$v}container#{$suffix}-no-padding: #{calc.calc-rem($v - (con.$container-padding * 2))};
      }
    } @else if $r == "container-padding" {
      --#{con.$v}container-padding: #{calc.calc-rem(con.$container-padding)};
    } @else if $r == "aspect-ratio-padding" {
      --#{con.$v}aspect-ratio-padding: 100%;
    } @else if $r == "transitions" {
      --#{con.$v}prop: #{con.$default-prop};
      --#{con.$v}duration: #{con.$default-duration};
      --#{con.$v}easing: #{con.$default-easing};
      --#{con.$v}delay: #{con.$default-delay};
    } @else if $r == "outline" {
      $default-color: map.get(con.$outline, "colors", "default");
      $default-width: map.get(con.$outline, "widths", "default");
      $default-offset: map.get(con.$outline, "offsets", "default");

      --#{con.$v}outline-color: #{$default-color};
      --#{con.$v}outline-width: #{calc.calc-rem($default-width)};
      --#{con.$v}outline-offset: #{calc.calc-rem($default-offset)};
    } @else if $r == "borders" {
      $default-color: map.get(con.$borders, "colors", "default");
      $default-width: map.get(con.$borders, "widths", "default");

      --#{con.$v}border-color: #{$default-color};
      --#{con.$v}border-width: #{calc.calc-rem($default-width)};
    } @else if $r == "border-radius" {
      @each $b, $v in con.$border-radius {
        --#{con.$v}border-radius-#{$b}: #{$v};
      }
    }
  }
}
