/**
 * Base - Root Styles
 */

/* Imports */

@use "sass:map";
@use "sass:string";
@use "../config" as con;
@use "../utils/functions" as func;

/**
 * Set root variables
 *
 * @return {void}
 */

@mixin set-root() {
  $props: ();

  @each $r in con.$root {
    @if $r == "colors" {
      @each $c, $v in con.$colors-flat {
        --#{$c}: #{$v};
      }
    } @else if $r == "font-families" {
      @each $f, $v in con.$font-families {
        --font-family-#{$f}: #{$v};
      }
    } @else if $r == "font-weights" {
      @each $f, $v in con.$font-weights {
        --font-weight-#{$f}: #{$v};
      }
    } @else if $r == "letter-spacing" {
      @each $l, $v in con.$letter-spacing {
        --letter-spacing-#{$l}: #{$v};
      }
    } @else if $r == "line-heights" {
      @each $l, $v in con.$line-heights {
        --line-height-#{$l}: #{$v};
      }
    } @else if $r == "spacing" {
      @each $s, $v in con.$spacing {
        --#{$s}: #{func.calc-rem($v)};
      }
    } @else if $r == "gap" {
      --gap: 0rem;
      --gap-margin: 0rem;
    } @else if $r == "containers" {
      @each $c, $v in con.$containers {
        $suffix: "";

        @if $c != "default" {
          $suffix: "-#{$c}";
        }

        --container#{$suffix}: #{func.calc-rem($v)};
        --container#{$suffix}-no-padding: #{func.calc-rem($v - (con.$container-padding * 2))};
      }
    } @else if $r == "container-padding" {
      --container-padding: #{func.calc-rem(con.$container-padding)};
    } @else if $r == "aspect-ratio-padding" {
      --aspect-ratio-padding: 100%;
    } @else if $r == "transitions" {
      --prop: #{con.$default-prop};
      --duration: #{con.$default-duration};
      --easing: #{con.$default-easing};
      --delay: #{con.$default-delay};
    } @else if $r == "outline" {
      $default-color: map.get(con.$outline, "colors", "default");

      --outline-width: #{map.get(con.$outline, "widths", "default")};
      --outline-color: #{$default-color};
      --outline-offset: #{map.get(con.$outline, "offsets", "default")};
    } @else if $r == "borders" {
      $default-color: map.get(con.$borders, "colors", "default");

      --border-color: #{$default-color};
      --border-width: #{map.get(con.$borders, "widths", "default")};
    } @else if $r == "border-radius" {
      @each $b, $v in con.$border-radius {
        --border-radius-#{$b}: #{func.calc-rem($v)};
      }
    }
  }
}
