/**
 * Utils - Fluid Size Styles
 */

/* Imports */

@use "sass:map";
@use "sass:meta";
@use "sass:list";
@use "../../config/config" as con;
@use "../calcRem/calcRem" as calc;
@use "../stripUnit/stripUnit" as unit;
@use "../breakpoints/breakpoints";

/**
 * Mixin - fluidly resize between breakpoints
 *
 * @param {string} $prop
 * @param {list} $sizes
 * @param {list} $widths - $breakpoint props
 * @param {list} $other
 * @param {boolean} $important
 * @return {void}
 */
@mixin fluid-size($prop, $sizes, $widths, $important: false, $other: null) {
  $last-index: list.length($sizes);

  @each $size in $sizes {
    $i: list.index($sizes, $size);
    $width: list.nth($widths, $i);
    $width-rem: calc.calc-rem(map.get(con.$breakpoints, $width));
    $oth: null;
    $imp: null;

    @if meta.type-of($other) == "list" {
      $oth: $width;
    }

    @if $important {
      $imp: #{"!important"};
    }

    @if $i == 1 {
      #{$prop}: $size $oth $imp;
    }

    @if $i == $last-index {
      @include breakpoints.breakpoint-batch-add($width, (
        #{$prop}: $size $oth $imp
      ));
    } @else {
      $new-size: unit.strip-unit(list.nth($sizes, $i + 1));
      $new-width: list.nth($widths, $i + 1);
      $new-width-abs: unit.strip-unit(calc.calc-rem(map.get(con.$breakpoints, $new-width)));
      $width-abs: unit.strip-unit($width-rem);

      @include breakpoints.breakpoint-batch-add($width, (
        #{$prop}:
          calc(
            #{$size} +
            ((100vw - #{$width-rem}) / (#{$new-width-abs} - #{$width-abs})) *
            (#{$new-size} - #{unit.strip-unit($size)})
          )
          $oth
          $imp
      ));
    }
  }
}
