
/*
 * Skip Link
 * ---------
 */

.c-skip-link {
	@extend %u-display-block;
	@extend %u-position-absolute;
	@extend %u-top-0;
	@extend %u-left-0;
	@extend %u-right-0;
	z-index: map-get( $g-zIndex, 'skipLink' );
	transform: translateY( -150% );
	padding: 18px 0;
	letter-spacing: 0.6px;
	&.--show {
		transform: translateY( 0 );
	}
	&:focus, 
	&:active, 
	&:hover {
		@extend %u-opacity-1;
	}
}
