/**
 * Borders - Width Styles
 */

/* Imports */

@use "sass:map";
@use "../../config/config" as con;
@use "../../utils/getClassFix/getClassFix" as fix;

/* Class name customization */

$width-fix: fix.get-class-fix("border-width");

/* Styles */

$widths: map.get(con.$borders, "widths");

@each $w, $v in $widths {
  @if $w != "default" {
    .b-#{$width-fix}-#{$w} {
      --border-width: #{$v};
    }
  }
}
