/**
 * Layouts - Float Styles
 */

 /* Imports */

@use "../../utils/fix/fix";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");

/* Styles */

.#{$layout-fix}clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.#{$layout-fix}float-right {
  float: right;
}

.#{$layout-fix}float-left {
  float: left;
}
