
/*
 * Flexbox
 * -------
 */

.l-flex {
	@extend %u-display-flex;

	&[data-wrap] {
		flex-wrap: wrap;
	}

	&[data-col] {
		flex-direction: column;
	}

	&[data-justify="def"] {
		justify-content: space-between;
	}

	&[data-justify="center"]{
		justify-content: center;
	}

	&[data-justify="right"] {
		justify-content: flex-end;
	}

	&[data-justify="left"] {
		justify-content: flex-start;
	}

	&[data-align="center"] {
		align-items: center;
	}

	&[data-align="start"] {
		align-items: flex-start;
	}

	&[data-align="end"] {
		align-items: flex-end;
	}

	&[data-right] {
		@extend %u-margin-left-auto;
	}
	
	&[data-left] {
		@extend %u-margin-right-auto;
	}
}
