/**
 * Layouts: gap margin
 */

/* Imports */

@use "../config" as con;
@use "../utils/mixins" as mix;

/* Styles */

[class*="l-gap-margin"] {
  margin: calc(var(--gap-margin) * -1) 0 0 calc(var(--gap-margin) * -1);

  & > * {
    padding: var(--gap-margin) 0 0 var(--gap-margin);
  }
}

@each $g in con.$gaps {
  .l-gap-margin-#{$g} {
    --gap-margin: var(--#{$g});
  }
}

@each $b in con.$gap-breakpoints {
  @include mix.breakpoint-min($b) {
    @each $g in con.$gaps {
      .l-gap-margin-#{$g}-#{$b} {
        --gap-margin: var(--#{$g});
      }
    }
  }
}
