/**
 * Layouts - height
 */

/* Imports */

@use "../config" as con;
@use "../utils/mixins" as mix;

/* Relative units */

.l-height-100-pc {
  height: 100%;
}

.l-height-100-vh {
  height: 100vh;
}

.l-min-height-100-vh {
  min-height: 100vh;
}

/* Config heights */

@each $h in con.$heights {
  .l-height-#{$h} {
    height: var(--#{$h});
  }
}

@each $b in con.$height-breakpoints {
  @include mix.breakpoint-min($b) {
    @each $h in con.$heights {
      .l-height-#{$h}-#{$b} {
        height: var(--#{$h});
      }
    }
  }
}
