
/* 
 * Make container classes with breakpoints
 * ---------------------------------------
 */

@mixin _makeContainers() {
    %u-margin-padding-0 {
        &.--left {
            margin-left: 0;
            padding-left: 0;
        }
        &.--right {
            margin-right: 0;
            padding-right: 0;
        }
    }

    @each $c, $width in $g-containers {
        $k: inspect( $c );
        $d: '';
        $suffix: '';

        @if $k != 'def' {
            $d: '-';
            $suffix: capitalize( $c );
        } @else {
            $k: '';
        }

        .l-container#{$d}#{$k} {
            @extend %u-margin-right-auto;
            @extend %u-margin-left-auto;
            @extend %u-margin-padding-0;
            max-width: $width;
            @include breakpointMax( "container#{$suffix}" ) {
                padding-left: $g-containerPadding;
                padding-right: $g-containerPadding;
            }
        }
    }
}

/* 
 * Make grid classes with breakpoints
 * ----------------------------------
 */

@mixin _makeGrid() {
    .l-100 {
        @extend %u-width-100;
    }

    @each $g, $v in $g-grid {
        .l-#{$g} {
            @extend %u-width-100;
            @each $bk, $width in $v {
                @include breakpointMin( $bk ) {
                    width: $width;
                }
            }
        }
    }
}
