/**
 * Layouts - padding
 */

/* Imports */

@use "sass:list";
@use "sass:string";
@use "../config" as con;
@use "../utils/mixins" as mix;

/* Defaults */

.l-padding-0 {
  @extend %u-padding-0;
}

/* Config padding */

@each $p in con.$padding-top {
  .l-padding-top-#{$p} {
    padding-top: var(--#{$p});
  }
}

@each $p in con.$padding-bottom {
  .l-padding-bottom-#{$p} {
    padding-bottom: var(--#{$p});
  }
}

@each $b in con.$padding-vertical-breakpoints {
  @include mix.breakpoint-min($b) {
    @each $p in con.$padding-top {
      .l-padding-top-#{$p}-#{$b} {
        padding-top: var(--#{$p});
      }
    }

    @each $p in con.$padding-bottom {
      .l-padding-bottom-#{$p}-#{$b} {
        padding-bottom: var(--#{$p});
      }
    }
  }
}

@each $p in con.$padding-left {
  .l-padding-left-#{$p} {
    padding-left: var(--#{$p});
  }
}

@each $p in con.$padding-right {
  .l-padding-right-#{$p} {
    padding-right: var(--#{$p});
  }
}

@each $b in con.$padding-horizontal-breakpoints {
  @include mix.breakpoint-min($b) {
    @each $p in con.$padding-left {
      .l-padding-left-#{$p}-#{$b} {
        padding-left: var(--#{$p});
      }
    }

    @each $p in con.$padding-right {
      .l-padding-right-#{$p}-#{$b} {
        padding-right: var(--#{$p});
      }
    }
  }
}
