/**
 * Layouts - position
 */

.l-relative {
  position: relative;
}

.l-absolute,
.l-before::before,
.l-after::after {
  position: absolute;
}

.l-fixed {
  position: fixed;
}

.l-sticky {
  position: sticky;
}

.l-top-0,
.l-before::before,
.l-after::after {
  top: 0;
}

.l-left-0,
.l-before::before,
.l-after::after {
  left: 0;
}

.l-right-0,
.l-before::before,
.l-after::after {
  right: 0;
}

.l-bottom-0,
.l-before::before,
.l-after::after {
  bottom: 0;
}

.l-before::before,
.l-after::after {
  content: "";
}

.l-z-index-1 {
  z-index: 1;
}

.l-z-index--1 {
  z-index: -1;
}

.l-isolate {
  isolation: isolate;
}
