/**
 * Utils - Capitalize Styles
 */

/* Imports */

@use "sass:string";

/**
 * Convert string to capital case
 *
 * @param {string} $str
 * @return {string}
 */
@function capitalize($str) {
  @return string.to-upper-case(string.slice($str, 1, 1)) + string.slice($str, 2);
}
