/**
 * Formation - Global
 */

/* Imports */

@use "../../lib/utils/utils" as util;

/* Config */

@forward "../config/config";

/* Base */

@use "../base/base";

/* A11y */

@use "../../lib/a11y/a11y";

/* Layouts */

@use "../../lib/layouts/layouts";

/* Text */

@use "../../lib/text/text";

/* Backgrounds */

@use "../../lib/backgrounds/backgrounds";

/* Borders */

@use "../../lib/borders/borders";

/* Effects */

@use "../../lib/effects/Transition/Transition";

/* Breakpoints */

@include util.breakpoint-batch;
