/**
 * Components - nav
 */

.c-nav__hide {
  [data-overflow="false"] & {
    display: none;
  }
}

.c-nav__overlay {
  --visibility: hidden;

  visibility: var(--visibility);

  .c-nav[data-open="true"] & {
    --visibility: visible;
  }
}
