/**
 * Components - Nav Styles
 */

.c-nav__hide {
  [data-nav-overflow="false"] & {
    display: none;
  }
}

.c-nav__overflow,
.c-nav__overlay {
  --visibility: hidden;

  visibility: var(--visibility);

  [data-nav-open="true"] & {
    --visibility: visible;
  }
}
