/**
 * Objects - collapsible
 */

/* Imports */

@use "../../config" as con;

/* Styles */

.o-collapsible {
  &[data-set] {
    overflow: hidden;
  }
}

.o-collapsible__main {
  --prop: #{con.$collapsible-prop};
  --duration: #{con.$collapsible-duration};
  --delay: #{con.$collapsible-delay};
  --visibility: hidden;
  --height: 0;

  height: var(--height);
  visibility: var(--visibility);
  overflow: inherit;

  .o-collapsible[data-expanded="true"] > & {
    --delay: #{con.$collapsible-delay-expanded};
    --visibility: visible;
  }
}
