/**
 * Objects - collapsible
 */

/* Imports */

@use "../../config" as con;

/* Styles */

.o-collapsible {
  --overflow: visible;

  overflow: var(--overflow);

  &[data-collapsible-set] {
    --overflow: hidden;
  }
}

.o-collapsible__main {
  --prop: #{con.$collapsible-prop};
  --duration: #{con.$collapsible-duration};
  --delay: #{con.$collapsible-delay};
  --visibility: hidden;
  --height: 0;

  height: var(--height);
  visibility: var(--visibility);
  overflow: inherit;

  [data-collapsible-expanded="true"] > & {
    --delay: #{con.$collapsible-delay-expanded};
    --visibility: visible;
  }
}
