
/*
 * Collapsible
 * -----------
 */

/* Dependencies */

@use '../../../config' as frm;

.o-collapsible {
	&[data-set] {
		@extend %u-overflow-hidden;
	}
}

.o-collapsible__main {
	@extend %u-visibility-hidden;
	height: 0;
	transition: visibility 0ms #{ frm.$defTimingFunction } #{ frm.$defDuration }, height #{ frm.$defDuration } #{ frm.$defTimingFunction } 10ms;

	.o-collapsible[data-set] > & {
		@extend %u-overflow-hidden;
		will-change: height;
	}

	.o-collapsible[data-expanded="true"] > & {
		@extend %u-visibility-visible;
		transition: visibility 0ms #{ frm.$defTimingFunction } 10ms, height #{ frm.$defDuration } #{ frm.$defTimingFunction };
	}
}
