/**
 * Objects - Collapsible Styles
 */

/* Imports */

@use "../../config/config" as con;

/* Styles */

.o-collapsible__main {
  --#{con.$v}prop: #{con.$collapsible-prop};
  --#{con.$v}duration: #{con.$collapsible-duration};
  --#{con.$v}delay: #{con.$collapsible-delay};
  --visibility: hidden;
  --overflow: hidden;
  --h: 0;

  height: var(--h);
  visibility: var(--visibility);
  overflow: var(--overflow);

  [data-collapsible-expanded="true"] & {
    --#{con.$v}delay: #{con.$collapsible-delay-expanded};
    --visibility: visible;
    --h: var(--height);
  }
}
