/**
 * Objects - Collapsible Styles
 */

/* Imports */

@use "../../config/config" as con;

/* Styles */

.o-collapsible__main {
  --prop: #{con.$collapsible-prop};
  --duration: #{con.$collapsible-duration};
  --delay: #{con.$collapsible-delay};
  --visibility: hidden;
  --overflow: hidden;
  --h: 0;

  height: var(--h);
  visibility: var(--visibility);
  overflow: var(--overflow);

  [data-collapsible-expanded="true"] & {
    --delay: #{con.$collapsible-delay-expanded};
    --visibility: visible;
    --h: var(--height);
  }
}
