/**
 * Objects - Collapsible Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";

/* Class name customization */

$object-fix: fix.get-class-prefix("object");

/* Styles */

.#{$object-fix}collapsible-main {
  --#{con.$n}prop: #{con.$collapsible-prop};
  --#{con.$n}duration: #{con.$collapsible-duration};
  --#{con.$n}delay: #{con.$collapsible-delay};
  --clp-vis: hidden;
  --clp-overflow: hidden;
  --clp-ht: 0;

  height: var(--clp-ht);
  visibility: var(--clp-vis);
  overflow: var(--clp-overflow);

  [data-collapsible-expanded="true"] & {
    --#{con.$n}delay: #{con.$collapsible-delay-expanded};
    --clp-vis: visible;
    --clp-ht: var(--clp-height);
  }
}
