/**
 * Objects - loader
 */

/* Imports */

@use "sass:map";
@use "../../config" as con;

/* Styles */

.o-loader {
  --prop: #{con.$loader-prop};
  --duration: #{con.$loader-duration};
  --delay: #{con.$loader-delay};
  --opacity: 1;

  z-index: map.get(con.$z-index, "loader", "default");
  background-color: inherit;
  opacity: var(--opacity);

  &[data-page] {
    z-index: map.get(con.$z-index, "loader", "page");
  }

  &[data-hide] {
    --delay: #{con.$loader-delay-hide};
    --opacity: 0;

    z-index: -1;
  }
}
