
/*
 * Imports
 * -------
 */

@use '../../config' as con;
@use '../../utils/functions' as func;

/*
 * Loader
 * ------
 */

#{ con.$loaderSelector } {
	@extend %u-position-absolute;
	@extend %u-top-0;
	@extend %u-bottom-0;
	@extend %u-left-0;
	@extend %u-right-0;
	@extend %u-opacity-1;
	@extend %u-background-color-inherit;
	z-index: func.mapDeepGet( con.$zIndex, 'loader', 'def' );
	transition: 
		opacity #{ con.$defDuration } #{ con.$defTimingFunction } 10ms, 
		z-index 0ms #{ con.$defTimingFunction };

	&[data-hide] {
		@extend %u-opacity-0;
		z-index: -1 !important;
		transition: 
			opacity #{ con.$defDuration } #{ con.$defTimingFunction }, 
			z-index 0ms #{ con.$defTimingFunction } #{ con.$defDuration };
	}

	&[data-page] {
		@extend %u-position-fixed;
		z-index: func.mapDeepGet( con.$zIndex, 'loader', 'page' );
	}
}
