
/*
 * Base
 * ----
 */

* {
	@extend %u-color-inherit;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior-y: none;
	font-size: 100%;

	&.u-overflow-hidden {
		-webkit-overflow-scrolling: touch;
	}
}

/* Resets */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
blockquote,
input,
textarea,
button,
fieldset,
figure {
	margin: 0;
	padding: 0;
}

/* Misc resets */

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

embed,
img,
object,
video {
	height: auto;
}

img {
	@extend %u-display-block;
}

address{
	font-style: normal;
}

main,
time {
	@extend %u-display-block;
}

/* Links */

a {
	text-decoration: none;
	
	&:hover,
	&:active,
	&:focus {
		outline: 0;
	}
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	& a {
		@extend %u-color-inherit;
	}
}

/* Lists */

ol,
ul {
	list-style: none;
}

/* Svg */

svg {
	fill: inherit;
}

/* Hide recaptcha badge */

.grecaptcha-badge {
	width: 0 !important;
}
