/**
 * Base - focus
 */

:focus {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }

  :focus-visible,
  button:focus-visible,
  [type="button"]:focus-visible,
  [type="reset"]:focus-visible,
  [type="submit"]:focus-visible {
    outline: var(--outline-width) solid var(--outline-color);
  }
}
