/**
 * Base - focus
 */

/* Imports */

@use "../config";
@use "mixins" as mix;

/* Styles */

*:focus {
  outline-offset: var(--outline-offset);

  body:not([data-using-mouse]) & {
    outline: var(--outline-width) solid var(--outline-color);
  }

  body[data-using-mouse] & {
    --outline-width: 0;
  }
}
