/**
 * Base - focus
 */

/* Imports */

@use "../config";
@use "mixins" as mix;

/* Styles */

:focus {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }

  :focus-visible {
    outline: var(--outline-width) solid var(--outline-color);
  }
}
