/**
 * Base
 */

/* Imports */

@use "../config";
@use "mixins" as mix;

/* Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

html[data-no-scroll],
html[data-no-scroll] body {
  @extend %u-overflow-hidden;

  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
dl,
dd,
blockquote,
input,
textarea,
button,
fieldset,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    @extend %u-color-inherit;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

embed,
img,
object,
video {
  height: auto;
}

main,
time,
img {
  @extend %u-display-block;
}

address {
  font-style: normal;
}

svg {
  fill: inherit;
}
