
/*
 * Input resets
 * ------------
 */

input,
textarea,
button,
fieldset,
select {
	border: 0;
	outline: none;
	background: transparent;
}

input,
textarea,
button,
select {
	appearance: none !important;
	box-shadow: none !important;
	border-radius: 0;
	
	&:hover,
	&:active,
	&:focus {
		box-shadow: none !important;
		background-image: none;
		outline: none;
	}
}

// clears the 'X' from ie
input::-ms-clear,
input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

// clears the 'X' from chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

select::-ms-expand {
  display: none;
}
