/**
 * Layouts - Order Styles
 */

/* Imports */

@use "../../config/config" as con;
@use "../../utils/fix/fix";
@use "../../utils/breakpoint/breakpoint";

/* Class name customization */

$layout-fix: fix.get-class-prefix("layout");

/* Styles */

.#{$layout-fix}order-first {
  order: -9999;
}

.#{$layout-fix}order-last {
  order: 9999;
}

@each $b in con.$order-breakpoints {
  .#{$layout-fix}order-first-#{$b} {
    @include breakpoint.breakpoint-batch-add($b, (
      order: -9999
    ));
  }

  .#{$layout-fix}order-last-#{$b} {
    @include breakpoint.breakpoint-batch-add($b, (
      order: 9999
    ));
  }
}
