/**
 * Effects - shake
 */

/* Imports */

@use "../utils/functions" as func;

/* Styles */

@keyframes e-shake {
  10%,
  90% {
    transform: translateX(#{func.calc-rem(-1px)});
  }

  20%,
  80% {
    transform: translateX(#{func.calc-rem(2px)});
  }

  30%,
  50%,
  70% {
    transform: translateX(#{func.calc-rem(-4px)});
  }

  40%,
  60% {
    transform: translateX(#{func.calc-rem(4px)});
  }
}

.e-shake {
  animation: e-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
