/**
 * Effects - transition
 */

/* Imports */

@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "../config" as con;

/* Styles */

$transition-classes: ();
$transition-classes-store: ();

@each $t, $v in con.$transitions {
  $suffix: "";

  @if $t != "default" {
    $suffix: "-#{$t}";
  }

  $class: ".e-transition#{$suffix}";
  $transition-classes-store: map.merge($transition-classes-store, (#{$t}: $class));
  $transition-classes: list.append($transition-classes, $class, $separator: comma);
}

#{$transition-classes} {
  transition-property: var(--prop);
  transition-duration: var(--duration);
  transition-timing-function: var(--easing);
  transition-delay: var(--delay);
}

@each $t, $v in con.$transitions {
  @if $t != "default" {
    $class: map.get($transition-classes-store, $t);

    #{$class} {
      @each $tt, $vv in $v {
        @if $tt == "prop" {
          --prop: #{$vv};
        } @else if $tt == "easing" {
          --easing: #{$vv};
        } @else if $tt == "duration" {
          --duration: #{$vv};
        } @else if $tt == "delay" {
          --delay: #{$vv};
        }
      }
    }
  }
}
