/**
 * Components - nav icon eight
 */

/* Imports */

@use "sass:map";
@use "sass:math";
@use "index" as icon;
@use "../../../config" as con;
@use "../../../utils/functions" as func;

/* Styles */

.c-nav-icon[data-num="8"] {
  --duration: 200ms;

  $width: map.get(con.$nav, "icon", "width");
  $line-width: map.get(con.$nav, "icon", "line-width");
  $x: func.calc-rem(math.div($width, 2) - math.div($line-width, 2));
  $y: (icon.$y + func.calc-rem(math.div($line-width, 2)) + 0.0313rem); // 0.0313 to make x more precise

  transform: rotate(0deg);

  .c-nav-icon__top,
  .c-nav-icon__bottom {
    width: 50%;
  }

  .c-nav-icon__top {
    transform-origin: 0 0;
    margin-right: 50%;
  }

  .c-nav-icon__bottom {
    transform-origin: 100% 100%;
    margin-left: 50%;
  }

  .c-nav__button[data-show] & {
    transform: rotate(-45deg);

    .c-nav-icon__top {
      transform: translate($x, $y) rotate(-90deg);
    }

    .c-nav-icon__bottom {
      transform: translate(#{$x * -1}, #{$y * -1}) rotate(-90deg);
    }
  }
}
