/**
 * Components: nav icon five
 */

/* Imports */

@use "index" as icon;
@use "../../../config" as con;

/* Styles */

.c-nav-icon[data-num="5"] {
  & .c-nav-icon__top {
    animation: 300ms ease forwards a-collapse-rotate-top-reverse;
  }

  & .c-nav-icon__bottom {
    animation: 300ms ease forwards a-collapse-rotate-bottom-reverse;
  }

  & .c-nav-icon__middle {
    --duration: 150ms;
    --delay: 100ms;

    @extend %u-opacity-1;
  }

  .c-nav__button[data-show] & {
    & .c-nav-icon__middle {
      --delay: 0ms;

      @extend %u-opacity-0;
    }

    & .c-nav-icon__top {
      animation: 300ms ease forwards a-collapse-rotate-top;
    }

    & .c-nav-icon__bottom {
      animation: 300ms ease forwards a-collapse-rotate-bottom;
    }
  }

  @keyframes a-collapse-rotate-top-reverse {
    0% {
      transform: translateY(icon.$y) rotate(45deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes a-collapse-rotate-bottom-reverse {
    0% {
      transform: translateY(#{icon.$y * -1}) rotate(-45deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes a-collapse-rotate-top {
    0% {
      transform: translateY(icon.$y);
    }

    100% {
      transform: translateY(icon.$y) rotate(45deg);
    }
  }

  @keyframes a-collapse-rotate-bottom {
    0% {
      transform: translateY(0) rotate(0);
    }

    1% {
      transform: translateY(#{icon.$y * -1});
    }

    100% {
      transform: translateY(#{icon.$y * -1}) rotate(-45deg);
    }
  }
}
