/**
 * Components - nav icon five
 */

/* Imports */

@use "index" as icon;

/* Styles */

.c-nav-icon[data-num="5"] {
  .c-nav-icon__top {
    animation: 300ms ease forwards e-collapse-rotate-top-reverse;
  }

  .c-nav-icon__bottom {
    animation: 300ms ease forwards e-collapse-rotate-bottom-reverse;
  }

  .c-nav-icon__middle {
    --duration: 150ms;
    --delay: 100ms;
    --opacity: 1;

    opacity: var(--opacity);
  }

  .c-nav__button[data-show] & {
    .c-nav-icon__middle {
      --delay: 0ms;
      --opacity: 0;
    }

    .c-nav-icon__top {
      animation: 300ms ease forwards e-collapse-rotate-top;
    }

    .c-nav-icon__bottom {
      animation: 300ms ease forwards e-collapse-rotate-bottom;
    }
  }

  @keyframes e-collapse-rotate-top-reverse {
    0% {
      transform: translateY(icon.$y) rotate(45deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes e-collapse-rotate-bottom-reverse {
    0% {
      transform: translateY(#{icon.$y * -1}) rotate(-45deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes e-collapse-rotate-top {
    0% {
      transform: translateY(icon.$y);
    }

    100% {
      transform: translateY(icon.$y) rotate(45deg);
    }
  }

  @keyframes e-collapse-rotate-bottom {
    0% {
      transform: translateY(0) rotate(0);
    }

    1% {
      transform: translateY(#{icon.$y * -1});
    }

    100% {
      transform: translateY(#{icon.$y * -1}) rotate(-45deg);
    }
  }
}
