
/*
 * Nav Icon: Five
 * --------------
 */

 .c-nav-icon[data-num="5"] {
 	& .c-nav-icon__top {
 		animation: 300ms ease forwards _aCollapseRotateTopReverse;
 	}

 	& .c-nav-icon__bottom {
 		animation: 300ms ease forwards _aCollapseRotateBottomReverse;
 	}

 	& .c-nav-icon__middle {
 		@extend %u-opacity-1;
 		transition: opacity 150ms ease 100ms;
 	}

 	.c-nav__button[data-show] & {
 		& .c-nav-icon__middle {
 			@extend %u-opacity-0;
 			transition: opacity 150ms ease;
 		}

 		& .c-nav-icon__top {
 			animation: 300ms ease forwards _aCollapseRotateTop;
 		}
 		
 		& .c-nav-icon__bottom {
 			animation: 300ms ease forwards _aCollapseRotateBottom;
 		}
 	}

 	@keyframes _aCollapseRotateTopReverse {
 		0% {
 			transform: translateY( $_y ) rotate( 45deg );
 		}

 		100% {
 			transform: translateY( 0 ) rotate( 0 );
 		}
 	}

 	@keyframes _aCollapseRotateBottomReverse {
 		0% {
 			transform: translateY( #{ $_y * -1 } ) rotate( -45deg );
 		}

 		100% {
 			transform: translateY( 0 ) rotate( 0 );
 		}
 	}

 	@keyframes _aCollapseRotateTop {
 		0% {
 			transform: translateY( $_y );
 		}

 		100% {
 			transform: translateY( $_y ) rotate( 45deg );
 		}
 	}

 	@keyframes _aCollapseRotateBottom {
 		0% {
 			transform: translateY( 0 ) rotate( 0 );
 		}

 		1% {
 			transform: translateY( #{ $_y * -1 } );
 		}
    
 		100% {
 			transform: translateY( #{ $_y * -1 } ) rotate( -45deg );
 		}
 	}
 }
