/**
 * Components - nav icon four
 */

/* Imports */

@use "index" as icon;

/* Styles */

[data-nav-icon="4"] {
  --rotate: 0deg;
  --rotate-in: 0deg;
  ---rotate-in: 0deg;
  --y: 0;
  ---y: 0;
  --opacity: 1;

  transform: rotateY(var(--rotate));

  .c-nav-icon__top,
  .c-nav-icon__middle,
  .c-nav-icon__bottom {
    --duration: 0ms;
    --delay: 100ms;
  }

  .c-nav-icon__top {
    transform: translateY(var(--y)) rotate(var(--rotate-in));
  }

  .c-nav-icon__bottom {
    transform: translateY(var(---y)) rotate(var(---rotate-in));
  }

  .c-nav-icon__middle {
    opacity: var(--opacity);
  }

  [data-nav-show] & {
    --rotate: 180deg;
    --rotate-in: 45deg;
    ---rotate-in: -45deg;
    --y: #{icon.$y};
    ---y: #{icon.$y * -1};
    --opacity: 0;
  }
}
