
/*
 * Nav Icon
 * --------
 */

/* Dependencies */

@use '../../../config' as frm;

$_y: calcRem( mapDeepGet( frm.$nav, 'icon', 'margin' ) + mapDeepGet( frm.$nav, 'icon', 'lineWidth' ) );

.c-nav-icon {
	@extend %u-position-relative;
	@extend %u-margin-auto;
	width: calcRem( mapDeepGet( frm.$nav, 'icon', 'width' ) );
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom,
.c-nav-icon__right {
	height: calcRem( mapDeepGet( frm.$nav, 'icon', 'lineWidth' ) );
}

.c-nav-icon__left {
	width: calcRem( mapDeepGet( frm.$nav, 'icon', 'lineWidth' ) );
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom {
	margin: calcRem( mapDeepGet( frm.$nav, 'icon', 'margin' ) ) auto;
}

.c-nav-icon__top {
	margin-top: 0;
}

.c-nav-icon__bottom {
	margin-bottom: 0;
}
