/**
 * Components - nav icon
 */

/* Imports */

@use "sass:map";
@use "../../../config" as con;
@use "../../../utils/functions" as func;

/* Styles */

$y: func.calc-rem(map.get(con.$nav, "icon", "margin") + map.get(con.$nav, "icon", "line-width"));

.c-nav-icon {
  --easing: ease;

  width: func.calc-rem(map.get(con.$nav, "icon", "width"));
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom {
  height: func.calc-rem(map.get(con.$nav, "icon", "line-width"));
  margin: func.calc-rem(map.get(con.$nav, "icon", "margin")) auto;
}

.c-nav-icon__top {
  margin-top: 0;
}

.c-nav-icon__bottom {
  margin-bottom: 0;
}
