/**
 * Components nav icon
 */

/* Imports */

@use "sass:map";
@use "../../../config" as con;
@use "../../../utils/functions/calc-rem" as c;

/* Styles */

$y: c.calc-rem(map.get(con.$nav, "icon", "margin") + map.get(con.$nav, "icon", "line-width"));

.c-nav-icon {
  @extend %u-position-relative;
  @extend %u-margin-auto;

  width: c.calc-rem(map.get(con.$nav, "icon", "width"));
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom,
.c-nav-icon__right {
  height: c.calc-rem(map.get(con.$nav, "icon", "line-width"));
}

.c-nav-icon__left {
  width: c.calc-rem(map.get(con.$nav, "icon", "line-width"));
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom {
  margin: c.calc-rem(map.get(con.$nav, "icon", "margin")) auto;
}

.c-nav-icon__top {
  margin-top: 0;
}

.c-nav-icon__bottom {
  margin-bottom: 0;
}
