/**
 * Components - nav icon one
 */

/* Imports */

@use "index" as icon;

/* Styles */

[data-nav-icon="1"] {
  --duration: 200ms;
  --y: 0;
  ---y: 0;
  --rotate: 0deg;
  ---rotate: 0deg;
  --scale: 1;

  .c-nav-icon__top {
    transform: translateY(var(--y)) rotate(var(--rotate));
  }

  .c-nav-icon__middle {
    transform: scaleX(var(--scale));
  }

  .c-nav-icon__bottom {
    transform: translateY(var(---y)) rotate(var(---rotate));
  }

  [data-nav-show] & {
    --y: #{icon.$y};
    ---y: #{icon.$y * -1};
    --rotate: 45deg;
    ---rotate: -45deg;
    --scale: 0;
  }
}
