/**
 * Components - nav icon seven
 */

/* Imports */

@use "index" as icon;

/* Styles */

.c-nav-icon[data-num="7"] {
  --duration: 200ms;
  --opacity: 1;

  .c-nav-icon__top,
  .c-nav-icon__bottom,
  .c-nav-icon__middle {
    --duration: 0ms;
    --delay: 150ms;
  }

  .c-nav-icon__top,
  .c-nav-icon__bottom {
    transform: translateY(0) rotate(0deg);
  }

  .c-nav-icon__middle {
    opacity: var(--opacity);
  }

  .c-nav__button:not([data-show]) & {
    animation: e-nav-icon-grow-shrink-copy 300ms;
  }

  .c-nav__button[data-show] & {
    --opacity: 0;

    .c-nav-icon__top {
      transform: translateY(icon.$y) rotate(45deg);
    }

    .c-nav-icon__bottom {
      transform: translateY(#{icon.$y * -1}) rotate(-45deg);
    }

    animation: e-nav-icon-grow-shrink 300ms;
  }

  @keyframes e-nav-icon-grow-shrink-copy {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes e-nav-icon-grow-shrink {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }
}
