/**
 * Components - nav icon three
 */

/* Imports */

@use "index" as icon;
@use "../../../config" as con;

/* Styles */

.c-nav-icon[data-num="3"] {
  --duration: 225ms;

  transform: rotate(0deg);

  & .c-nav-icon__top,
  & .c-nav-icon__bottom {
    transform: translateY(0) rotate(0deg);
  }

  & .c-nav-icon__middle {
    @extend %u-opacity-1;
  }

  .c-nav__button[data-show] & {
    transform: rotate(45deg);

    & .c-nav-icon__top {
      transform: translateY(icon.$y);
    }

    & .c-nav-icon__middle {
      @extend %u-opacity-0;
    }

    & .c-nav-icon__bottom {
      transform: translateY(#{icon.$y * -1}) rotate(90deg);
    }
  }
}
