/**
 * Components - nav icon three
 */

/* Imports */

@use "index" as icon;

/* Styles */

[data-nav-icon="3"] {
  --duration: 225ms;
  --rotate: 0deg;
  --rotate-in: 0deg;
  --y: 0;
  ---y: 0;
  --opacity: 1;

  transform: rotate(var(--rotate));

  .c-nav-icon__top {
    transform: translateY(var(--y)) rotate(var(--rotate-in));
  }

  .c-nav-icon__bottom {
    transform: translateY(var(---y)) rotate(var(--rotate-in));
  }

  .c-nav-icon__middle {
    opacity: var(--opacity);
  }

  [data-nav-show] & {
    --rotate: 45deg;
    --rotate-in: 90deg;
    --y: #{icon.$y};
    ---y: #{icon.$y * -1};
    --opacity: 0;
  }
}
