/**
 * Components - nav icon two
 */

/* Imports */

@use "index" as icon;

/* Styles */

.c-nav-icon[data-num="2"] {
  --duration: 175ms;
  --opacity: 1;

  .c-nav-icon__top,
  .c-nav-icon__bottom {
    transform: translateY(0);
  }

  .c-nav-icon__middle {
    opacity: var(--opacity);
  }

  .c-nav__button[data-show] & {
    --opacity: 0;

    .c-nav-icon__top {
      transform: translateY(icon.$y);
    }

    .c-nav-icon__bottom {
      transform: translateY(#{icon.$y * -1});
    }
  }
}
